.job-wizard {
    .ant-alert-icon {
        top: 4px !important;
    }
}

.ud-page-job {
    .titleDescription {
        font-size: 12px;
        font-weight: normal;
        text-transform: none;
    }

    .info-panel-left {
        display: flex;
        justify-content: center;
        padding-top: 14px;
        border-right: 1px solid silver;
        height: 62px;
    }

    .info-panel-right {
        padding-top: 14px;
        height: 62px;
        font-size: 13px;
    }

    .trigger-success-column {
        padding-left: 0 !important;
    }

    .trigger-fail-column {
        padding-right: 0 !important;
    }
}
