.ud-page-job {
    .ud-sider-filters-panel {
        padding: 0 8px 0 8px;

        .ud-field {
            margin-top: 8px !important;
            margin-bottom: 2px !important;
        }

        .ant-select {
            color: black !important;
            font-weight: normal;
        }

        .ant-select-focused {
            .ant-select-selection {
                border: 1px solid #3892d3;
                box-shadow: none;
                color: black;
            }
        }

        .ant-select-selection:hover {
            border: 1px solid #3892d3;
            box-shadow: none;
        }

        .ud-field-tags {
            margin-top: 0 !important;
            .ant-select-selection--multiple .ant-select-selection__placeholder {
                font-style: italic !important;
            }
        }

        .ud-search-input {
            ::placeholder {
                font-style: italic !important;
            }
        }

        .ud-field-filters {
            margin-bottom: 12px !important;
        }

        .additional {
            text-align: right;
            height: 34px;
            padding-top: 4px;

            .additional-link {
                text-align: right;
                text-decoration: underline;
            }
        }
    }

    .ud-sider-list-container .ReactTable {
        .rt-thead {
            display: none;
        }

        .rt-td:first-child {
            overflow: visible;
        }

        .rt-td {
            max-height: 38px;

            .ant-badge-status-dot {
                margin-left: 4px;
                width: 8px;
                height: 8px;
            }

            .ant-badge-status-default {
                background: grey;
            }

            .ud-button.ud-button-noborder {
                visibility: hidden;
            }
        }

        .rt-td > .inactive {
            color: grey;
        }

        .rt-tr {
            .ud-button-noborder {
                padding-bottom: 10px;
                padding-right: 6px;
            }
        }

        .rt-tr:hover {
            .ud-button-noborder {
                visibility: visible;
            }
        }
    }
}

.ant-select-dropdown-menu {
    font-size: 13px !important;
    font-weight: normal;

    .ant-select-dropdown-menu-item {
        color: black;
        &-disabled {
            color: rgba(0, 0, 0, 0.25)
        }
    }
}
