.add-workflow-process-panel {
  .select-column {
    .ud-field_label {
      background: #DCDCDC;
      border-radius: 4px 0 0 4px;
      padding-left: 10px;
      text-align: center;
      height: 32px;
    }

    .ant-select-selection {
      border-radius: 0;
    }
  }

  .button-column {
    padding-top: 7px;

    .ud-button {
      width: 100%;
      border-radius: 0 4px 4px 0;
      height: 32px;
    }
  }
}
