$draftColor: #DE350B;

.splitter {
  background-color: #d8d8d8;
  width: 1px;
  height: 24px;
  margin-left: 15px;
  margin-right: 5px;
}


.draftSwitcher:global {
  &.ant-switch-checked {
    background-color: $draftColor;
  }
}

.draftSwitcherText {
  display: inline-block;
  box-sizing: content-box;
  padding: 6px 7px;
  text-transform: uppercase;
  border-radius: 3px;
}

.draftSwitcherTextOn {
  background-color: $draftColor;
  color: white;
}
