:global(.ReactTable) {
  &.udTableCommon {
    height: 100%;
    border: 0;
    color: #333;

    :global(.rt-thead) {
      font-family: 'PT Sans', sans-serif;
      text-transform: Uppercase;
      font-size: 12px;
      font-weight: Bold;
      box-shadow: none;
    }
    :global(.rt-thead.-header) {
      border-bottom: #aaa 2px solid;
      box-shadow: none;
      :global(.rt-th) {
        align-items: center;
        display: flex;
        height: 32px;
        padding: 0 5px;
        justify-content: space-between;
      }
    }
    :global(.rt-thead.-headerGroups) {
      border-bottom: none;
      background: transparent;
      padding-top: 10px;

      .headerTitle {
            border-bottom: 1px solid rgba(0, 0, 0, 0.15);
            padding: 0 5px 5px 0;
        }
    }

    :global(.rt-thead) {
      :global(.rt-tr) {
        text-align: left;
      }
      :global(.rt-th), :global(.rt-td) {
        border-right: none;
        padding-bottom: 0;
      }
    }

    :global(.rt-resizable-header-content) {
      width: 100%;
    }
    :global(.rt-resizer) {
      display: inline-block;
      position: absolute;
      width: 6px;
      top: 0;
      bottom: 0;
      right: -3px;
      cursor: col-resize;
      z-index: 0;
    }

    :global(.rt-tbody) {
      :global(.rt-tr-group) {
        border-bottom: 1px solid #e2e2e2;
        min-height: 34px;
      }
      :global(.rt-tr-group):hover {
        background: #efefef;
      }

      :global(.rt-td) {
        border-right: none;
        font-family: 'Arial', sans-serif;
        font-size: 13px;
        padding: 5px;
      }
      :global(.rt-td):hover {
        color: #f08080;
      }
    }

    &.hasHeaderBg {
      :global(.rt-thead) {
        background: #f5f5f5;
      }
      :global(.rt-thead.-header) {
        box-shadow: 0px 3px 4px 0px rgba(0,0,0,0.15);
      }
    }

    &.isStriped {
      :global(.rt-tbody) {
        :global(.rt-tr-group:nth-of-type(2n):not(:hover)) {
          :global(.rt-tr:not(.-padRow)):not(.checkedRow) {
            background: #f8f8f8;
          }
        }
      }
    }

    &.hasPagination {
      height: calc(100% - 50px);
      overflow: hidden;
    }

    :global(.rt-tbody) :global(.rt-td) {
      &.checkboxCell, &.deleteCell {
        padding: 0 5px;
        display: flex;
        align-items: center;
      }
    }

    .inputContainer {
      margin: -3px;
      display: flex;
      align-items: center;
      width: 100%;
      input {
        height: auto;
        width: 100%;
        padding: 4px 2px;
        color: #333;
      }
    }

    .editableContainer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      width: 100%;
      span {
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .checkedRow:not(:global(.-padRow)) {
      background: #ccebf8;
    }

    .headContainer {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      span.headerText {
        margin-right: 5px;
        display: flex;
        align-items: center;
        width: calc(100% - 22px);

        .headerText {
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      .headerTextContainer {
        &.sortable {
          display: flex;
          align-items: center;

          svg {
            margin-left: 3px;
          }

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}

.expandIcon {
  display: inline-block;
  height: 15px;
  transition-duration: 0.2s;
}
.expandIconRotate {
  transform: rotate(90deg);
}
