.container {
  height: 100%;
  overflow: auto;
  & > div {
    height: auto;
    margin: 10px 0;
    overflow: auto;
  }
}

.columnContainer {
  display: flex;
  & > div {
    flex: 1;
    margin-right: 10px;
  }
  & > div:last-child {
    margin-right: 0;
  }
}
