button[role="switch"]:global(.ant-switch) :global(.ant-switch-small) {
     line-height: 14px;
     height: 14px;
     min-width: 20px;
 }

button[role="switch"]:global(.ant-switch) :global(.ant-switch-small:after) {
     width: 10px;
     height: 10px;
 }

