$animation-time: 0.2s;
$animation-delay: $animation-time / 3;
$color: #DE350B;

.draftModeIndicator {
  overflow: hidden;
  color: transparent;
  background-color: transparent;
  text-transform: uppercase;
  font-family: 'Open Sans Semibold', serif;
  font-size: 11px;
  padding: 5px 0;
  border-radius: 3px;
  position: relative;
  margin-right: 0;
  cursor: default;
  max-width: 0;
  transition: max-width $animation-time,
              padding $animation-time,
              background-color $animation-time,
              color $animation-time,
              margin-right $animation-time $animation-delay;

  &:after {
    content: ' ';
    display: block;
    overflow: hidden;
    height: 34px;
    width: 1px;
    background-color: transparent;
    position: absolute;
    top: 50%;
    margin-top: -17px;
    right: -14px;

    transition: background-color $animation-time;
  }
}

.draftModeOn {
  display: block;
  max-width: 100px;
  margin-right: 25px;
  padding: 5px 11px;
  overflow: visible;
  color: white;
  background-color: $color;
  transition: max-width $animation-time $animation-delay,
              padding $animation-time $animation-delay,
              background-color $animation-time $animation-delay,
              color $animation-time $animation-delay,
              margin-right $animation-time;

  &:after {
    background-color: #454545;
  }
}
