$color: #DE350B;

.draftModeSwitcher {
  text-transform: uppercase;
  font-family: 'Open Sans', serif;
  font-size: 11px;
  font-weight: 600;
  overflow: hidden;
  user-select: none;

  :global {
    .ant-switch-checked {
      background-color: $color;
    }
  }

  div {
    color: gray;
    cursor: pointer;
    padding: 10px;
    display: flex;
    float: left;

    &:hover {
      color: $color;
    }
  }

  button {
    margin-right: 5px;
  }
}

.draftModeOn {

  div {
    color: $color;
  }
}

.modal {
  width: 365px;
}

.modalContent {
  display: flex;
  padding: 10px 0;

  svg {
    width: 38px;
    height: 38px;
    fill: $color;
    margin-right: 14px;
  }

  p {
    margin-bottom: 0.3em;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.modalFooter {
  display: flex;
  justify-content: flex-end;

  > * {
    margin-left: 10px;
  }
}
