.logoContainer {
  width: 346px;
  padding-left: 64px;
  height: 124px;
}

.tabsContainer {
  position: absolute;
  top: -38px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;

  ul {
    li {
      height: 30px;
    }
  }
}

.modalBody {
  position: relative;
  width: 448px;
  height: 346px;
}

.logo {
  padding-top: 15px;
  width: 272px;
}

.fieldsContainer {
  display: flex;
  height: 100%;
  flex-direction: column;
  padding-top: 6px;
  overflow-y: auto;
}
