.container {
  display: flex;
  flex-direction: row;
}

.labelContainer {
  min-height: 24px;
  flex: 0 1 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.valueContainer {
  flex: 0 1 360px;
  max-width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

}

.valueContent {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-weight: 600;
  max-width: 356px;
  display: inline-block;
}

.valueLink {
  &:hover {
    text-decoration: underline;
  }
}

.editIcon {
  display: inline-block;
  position: absolute;
  right: 2px;
  font-size: 12px;
  top: 4px;
  width: 16px;
  background: #ececec;
  border-radius: 4px;
}

.loadingIndicator {
  display: inline-block;
}

.valueUnset {
  font-style: italic;
  font-size: 12px;
  font-weight: 300;
}

.editableField {
  width: 100%;
  height: 100%;
  padding: 0 4px;
  border: 1px solid transparent;
  border-radius: 2px;
}

.editableFieldInput {
  width: 100%;
  display: inline-block;
  position: relative;
}

.editableFieldButtons {
  position: absolute;
  right: -50px;
  top: 0;

  & > * {
    padding-right: 4px;
  }
}

.editableField.showControls {
  border-color: #c1c1c1;
  cursor: pointer;
}
