.lockScreen {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: rgba(0, 0, 0, 0.75);
  z-index: 1035;

  .form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 280px;
    border-radius: 4px;
    overflow: hidden;

    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.35);

    padding: 25px;
    background-color: white;

    .description {
      text-align: center;
      margin-bottom: 20px;
    }

    .input {
      margin-bottom: 15px;
    }
  }
}
