.field {
  display: flex;
  flex-direction: row;
  padding-top: 12px;
}

.fieldKey {
  width: 40%;
  padding-left: 16px;
  font-family: "Open Sans", arial, helvetica, verdana, sans-serif;
  text-align: end;
  word-break: break-word;
  padding-right: 11px;
}

.fieldValue {
  width: 60%;
  padding-right: 16px;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  word-break: break-word;
  white-space: normal;
}
