.container {
  display: flex;
  a {
    line-height: 1.4;
  }
}

.container:first-of-type {
  margin-top: 4px;
}

.greyHref {
  margin-top: 2px;
}

.text {
  overflow: hidden;
  text-overflow: ellipsis;

  a.greyHref:hover {
    text-decoration: underline;
  }
}

.container:hover .icon {
  margin-left: 6px;
  display: block;
  &:hover svg {
    fill: #f08080;
  }
}
.container .greyHref {
  margin-top: 0;
}
.container .icon {
  display: none;
}
