.ud-menu-header {
  display: flex;
  align-items: center;
  height: auto;
  line-height: normal;
  padding: 0;
  background-color: #333333;

  @include ud-logo(35px);

  .ud-logo {
    display: flex;
    margin-right: 30px;
  }

}
