.slider {
    background: #dcdcdc;

    :global(.rt-td) {
        padding: 0;
        div:hover {
            color: #000;
        }
    }

    :global(.ant-layout-sider-children) {
        position: static;
    }
}

.tileListContainer {
    height: calc(100vh - 113px);
}

.header {
    padding: 13px 10px 12px 10px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    color: #999;
    font-family: "Open Sans", arial, helvetica, verdana, sans-serif;
}
.headerButton {
    color: #000;
    float: right;
}

.checkboxLabel {
    padding-left: 5px;
}
