.container {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 408px;
  padding-right: 24px;
  padding-bottom: 20px;
  z-index: 19001; //TODO: remove as soon as we get rid of Sencha, React works without It
}
