.ud-main-menu-full {
  position: relative;

  .ud-main-menu-item {
    &.is-active {

      // frame around the active partition
      .ud-main-menu-item-icon:after {
        content: ' ';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        border-radius: 0.5em;
        border: solid 2px #00b0ff;
        transform: scale(1.13);
      }
    }
  }

  .ud-pin-edit-button {
    transition: none !important;
    padding-right: 3px;

    span {
      color: transparent !important;
    }

    &.is-disabled {
      opacity: 0.5;
    }

    &.is-disabled,
    &:focus,
    &:active {
      span {
        color: transparent !important;
      }

      svg {
        fill: #000000a6 !important;
      }
    }

    &:hover:not(.is-disabled) {
      span {
        color: #00b0ff !important;
      }
      svg {
        fill: #00b0ff !important;
      }
    }

    span,
    svg {
      transition: all 0.2s ease !important;
    }
  }

  &.ud-main-menu-pin-edit-mode {

    .ud-pin-edit-button {

      span {
        color: #000000a6 !important;
      }

      &:focus,
      &:active {
        span {
          color: #000000a6 !important;
        }
        svg {
          fill: #000000a6 !important;
        }
      }

      &:hover {
        span {
          color: #00b0ff !important;
        }
        svg {
          fill: #00b0ff !important;
        }
      }
    }

    .ud-main-menu-item {

      .ud-main-menu-item-pin {
        border-style: solid;
        border-width: 2px;
        border-color: #c0c0c0;
        width: 8px;
        height: 8px;
        border-radius: 4px;
        margin-top: -2px;
        margin-right: -2px;

        &-is-pinned {
          border-color: #ff0000;
        }

      }

      &:active {
        .ud-main-menu-item-pin {
          background-color: #c0c0c0;

          &-is-pinned {
            background-color: #ff0000;
          }
        }
      }
    }
  }

}
