.ud-main-menu-group {
  float: left;
  width: 100%;

  .ud-main-menu-group-title {
    font-size: 10px;
    text-transform: uppercase;
    color: #333333;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    margin-bottom: 15px;
    padding-top: 10px;
    border-top: solid 1px #d7d7d7;
  }

  &:first-child .ud-main-menu-group-title {
    padding-top: 0;
    border: none;
  }

  .ud-main-menu-group-items {
    display: block;
  }

}
