$icon-size: 48px;

.ud-main-menu-item {
  display: block;
  cursor: pointer;
  margin-bottom: 10px;
  position: relative;

  .ud-main-menu-item-pin {
    transition: all 0.2s;
    width: 0;
    height: 0;
    border-width: 0;
    border-radius: 0;
    border-color: #c0c0c0;
    border-style: solid;
    position: absolute;
    top: -3px;
    right: 14px;

    &-is-pinned {
      border-style: solid;
      border-width: 2px;
      border-color: #c0c0c0;
      border-radius: 2px;
    }
  }
}
