.ud-main-menu {
  width: 422px;
  overflow: hidden;
  padding: 10px;
  box-sizing: border-box;

  .ud-main-menu-item {
    width: 20%;
    float: left;

    &:nth-child(5n) {
      margin-right: 0;
    }

    &:nth-child(5n+1) {
      clear: left;
    }
  }
}
