.ud-main-menu-button {
  margin-top: -1px;
  margin-right: 50px;

  svg {
    fill: #b1b1b1;
    transition: fill 0.2s;
  }

  .anticon {
    transition: color 0.2s;
    color: #b1b1b1;
    font-size: 14px !important;
  }

  &.is-active,
  &:hover {
    .anticon {
      color: white;
    }

    svg {
      fill: #fff !important;
    }

  }
}

$border-color: #d7d7d7;

.ud-main-menu-popover {

  .ant-popover-content {
    position: relative;
    margin-top: -13px;
    margin-left: -4px;
  }

  .ant-popover-inner {
    border: solid 1px $border-color;
    border-radius: 2px;
  }

  .ant-popover-inner-content {
    padding: 0;
  }

  &.ant-popover-placement-bottomLeft {
    .ant-popover-arrow {
      left: 24px;
    }
  }

  .ant-popover-arrow {
    border: none;
    background-color: $border-color;
    top: -5px !important;
    width: 10px;
    height: 10px;

    &:before {
      content: ' ';
      width: 100%;
      height: 100%;
      margin-top: 1px;
      margin-left: 1px;
      background-color: white;
      overflow: hidden;
      display: block;
    }
  }
}
