$icon-size: 34px;
$animation-time: 0.15s;
$animation-delay: 0.01s;

.ud-pinned-menu {
  display: flex;
  position: relative;
  margin-left: -10px;

  // masking the last separator to match the background color
  &:after {
    content: ' ';
    display: block;
    width: 3px;
    height: 110%;
    position: absolute;
    top: -1px;
    right: -1px;
    background-color: #333333;
  }

  .ud-main-menu-group {
    position: relative;
    float: left;
    width: auto;
    padding-left: 10px;
    border-right: solid 1px #454545;
    display: flex;
    align-items: center;

    &.is-empty {
      padding: 0;
      border: none;
    }
  }

  .ud-main-menu-group-items {
    display: flex;
  }

  .ud-main-menu-item {
    position: relative;
    width: auto;
    margin-bottom: 0;
    margin-right: 0;
    float: left;
    display: flex;
    align-items: center;

    transition: margin-right $animation-time;

    &.is-pinned {
      margin-right: 10px;
    }
  }

}
