.modalContent {
  width: 500px;
  height: 270px;

  :global(.ant-alert-info) {
    background: none;
    border: none;
    padding: 0 !important;
    margin-bottom: 8px;
  }

  :global(.ant-alert-warning) {
    padding: 0 0 0 44px !important;
    background: orange;

    :global(.ant-alert-icon) {
      top: 12px;
      left: 10px;
      color: white;
    }

    :global(.ant-alert-description) {
      text-align: left;
      background: #fff3e0;
      padding: 8px;
      font-size: 13px;
      line-height: 17px;
    }
  }

  :global(.ant-alert-message) {
    margin: 0 !important;
  }
}

.wizardStep {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px 10px 20px;
  width: 100%;
  height: 100%;
  text-align: center;
}

.uploadStep {
  padding-top: 40px;
}

.wizardContainer {
  width: 500px;
  height: 300px;
}

.actionSelect {
  display: flex;
  padding-top: 105px;
  align-items: center;
  justify-content: center;
}

.confirmStepHeader {
  display: flex;
  height: 85px;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
}
