.ud-page-backend-properties .card-list .ud-card-panel {
    margin-bottom: 0 !important;
}

.import-export-backend-properties {
    .ant-modal-body {
        min-height: 210px !important;
        padding: 20px 20px 20px 20px !important;
    }

    .ant-steps {
        padding: 0 65px;
    }
}

.card-list {
    >.ant-card {
        border-radius: 0;
    }

    >.ant-card:first-child {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }

    >.ant-card:not(:first-child) {
        border-top: none;
    }

    >.ant-card:last-child {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }

    .ud-field {
        .ant-col:not(.ud-field_label) {
            padding-top: 7px;
        }
    }
}
