.navigationContainer {
  width: 100%;
  display: flex;
  height: 85px;
  justify-content: center;
  padding: 0 20px;
}

.navigation {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  width: 60%;

  :global(.ant-steps) {
    justify-content: center;
  }
}
