$baseCls: 'ud-matching-rule-list-item';

.#{$baseCls} {
  border-bottom: 1px solid #ccc;
  height: 45px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;

  &:hover {
    .#{$baseCls}-remove-btn-container {
      display: block;
    }
  }

  &:last-child {
    border: none;
  }

  .#{$baseCls}-switch {
    min-width: 75px;
    >span {
      display: inline-block;
      min-width: 35px;
    }
  }

  .#{$baseCls}-switch,
  .#{$baseCls}-content {
    float: left;
    padding-right: 10px;
  }

  &.#{$baseCls}-selected {
    background-color: #DAECFD;
  }

  .#{$baseCls}-right-part {
    display: flex;
    align-items: center;
    width: 100%;
    overflow: hidden;
  }

  .#{$baseCls}-remove-btn-container {
    display: none;
  }

  .#{$baseCls}-content {
    padding-left: 8px;
    overflow: hidden;
  }

  .#{$baseCls}-title {
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .#{$baseCls}-description {
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.#{$baseCls}-new {
  .#{$baseCls}-title {
    font-style: italic;
    font-weight: normal;
  }
}

.#{$baseCls}-attribute {
  background: #95D6D390;
  //border: 1px solid;
  border-radius: 2px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  padding: 3px;
  margin-right: 4px;
}
