$baseCls: 'ud-matching-rule-item-editor';

.#{$baseCls} {
  overflow: hidden;
  padding: 8px 16px;
  //.ant-card.ud-card-panel.internal {
  //  margin-top: 5px;
  //  .ant-card-body {
  //    padding-top: 15px;
  //  }
  //}

  .ud-inline-message {
    ul {
      margin-bottom: 0;
      padding-left: 20px;
    }
  }
}
