.ud-tree-select-all-nodes {
    display: flex;
    margin-bottom: 14px;
    padding-bottom: 10px;
    border-bottom: 1px solid #d9d9d9;
    justify-content: space-between;

    .ud-tree-warning {
        .ud-inline-message {
            width: 700px;
        }
        .ud-inline-message-icon {
            width: 7%;
            padding: 1px;
            .ud-icon:before {
                font-size: 20px;
            }
        }
        .ud-inline-message-content {
            padding: 10px;
        }
    }

    .ud-button {
        color: rgba(0,0,0,0.65);
        padding-top: 10px;
        vertical-align: middle;
        &:hover {
            color: #006494;
        }
    }
}

.ud-tree {
    overflow-y: auto;

    .ud-spinner {
        margin-top: 20%;
        margin-left: 50%;
    }

    .v-line {
        width: 2px;
        height: 20px;
        float: left;
        display: block;
        margin: 0;
        padding: 0;
        margin-left: 18px;
        background: url('data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%220%200%202%202%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%3E%3Crect%20x%3D%220%22%20y%3D%220%22%20width%3D%221%22%20height%3D%221%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E') repeat-y left top / 2px 2px;
    }

    .last-node .v-line-last {
        height: 12px;
        background: url('data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%220%200%202%202%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%3E%3Crect%20x%3D%220%22%20y%3D%220%22%20width%3D%221%22%20height%3D%221%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E') repeat-y left top / 2px 2px;
    }

    .h-line {
        width: 12px;
        height: 2px;
        float: left;
        display: block;
        margin-top: 10px;
        background: url('data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%220%200%202%202%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%3E%3Crect%20x%3D%220%22%20y%3D%220%22%20width%3D%221%22%20height%3D%221%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E') left top / 2px 2px;
    }

    &_row {
        cursor: pointer;
        user-select: none;
        padding-left: 4px;

        .node-label {
            overflow: hidden;
            text-overflow: ellipsis;
            display: block;
            white-space: nowrap;
        }
    }

    &_row:hover:not(&_row_selected) {
        background-color: $ud-item-over;
    }

    &_row_selected {
        background-color: $ud-item-selected;
    }

    &_row_disabled {
        background-color: $ud-item-disabled !important;
    }

    &_row_root {
        background-color: transparent !important;
    }

    &_expand-btn {
        width: 12px;
        height: 12px;
        float: left;
        margin-right: 10px;
        margin-top: 5px;
        cursor: pointer;
    }

    &_expand-btn_open {
        background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%220%200%2012%2012%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Ctitle%2F%3E%3Cg%3E%3Crect%20x%3D%220%22%20y%3D%220%22%20width%3D%2212%22%20height%3D%2212%22%20fill%3D%22white%22%20stroke%3D%22gray%22%20stroke-width%3D%221%22%2F%3E%3Cline%20x1%3D%223%22%20y1%3D%226%22%20x2%3D%229%22%20y2%3D%226%22%20stroke%3D%22black%22%20stroke-width%3D%222%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
    }

    &_expand-btn_close {
        background: url('data:image/svg+xml;utf8,<svg viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg"><g><rect x="0" y="0" width="12" height="12" fill="white" stroke="gray" stroke-width="1"/><line x1="3" y1="6" x2="9" y2="6" stroke="black" stroke-width="2"/><line x1="6" y1="3" x2="6" y2="9" stroke="black" stroke-width="2"/></g></svg>') center center / 12px 12px no-repeat;
    }

    &_expand-btn_load {
      background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg"><g><animateTransform attributeName="transform" type="rotate" from="0 32 32" to="360 32 32" dur="1s" repeatCount="indefinite"/><circle cx="32" cy="32" r="32" fill="whitesmoke"/><path d="M 62 32 A 30 30 0 0 0 32 2" style="stroke: black; stroke-width:6; fill:none;"/></g></svg>');
    }
}
