.tagContainer {
    background: #fff;
    padding: 4px 10px 10px 10px;
    box-shadow: 0 1px 1px 0 rgba(60,64,67,.08),0 1px 3px 1px rgba(60,64,67,.16);
}

.tagItem {
    margin: 4px 0 4px 8px;
    border: 1px solid silver;
    padding: 2px 1px 2px 8px;
    border-radius: 4px;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    align-items: center;
    background: #fff;
    height: 32px;
}

.tagItemChecked {
    border-color: #40a9ff;
}

.tagItemLabel {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 180px;
}
.tagItemValue {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: calc(100vw - 740px);
    font-size: 12px;
    .value {
        color: #006494;
        text-decoration: underline;
        font-weight: 600;
    }
    .helper {
        font-style: italic;
        padding-right: 2px;
    }
}

.counter {
    margin: 0 -3px 0 3px;
    font-size: 8px;
    line-height: 1;
    color: #fff;
    background: grey;
    border-radius: 6px;
    width: 12px;
    height: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.close {
    color: silver;
    margin: 3px 6px 3px 4px;
    display: flex;
    align-items: center;
}
.close:hover {
    cursor: pointer;
    color: #40a9ff;
}

.groupSep {
    width: 1px;
    height: 26px;
    background: silver;
    margin: 6px 0 6px 8px;
}

.relationTermItem {
    position: relative;
}

.relationTermItem.before:before {
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 3.5px;
    background: grey;
    position: absolute;
    left: 6px;
    top: 18px;
}
.relationTermItem.after:after {
    content: '';
    width: 10px;
    height: 1px;
    background: grey;
    position: absolute;
    top: 20px;
    right: -9px;
}

.ddGroup {
    padding: 0 8px;
}

.modalTableContainer {
    height: 70vh;
}
.modalTableContainer > :global(.ant-card) {
    position: static;
    height: calc(100% - 42px);
}
.modalTableContainer > :global(.ant-card-head) {
    height: 32px;
}
.modalTableContainer > :global(.ant-card-body) {
    height: calc(100% - 32px);
}

.modalFooter {
    display: flex;
    justify-content: end;
}

.inputContainer {
    position: relative;
    background: #fff;
    padding: 8px 12px;
    box-shadow: 0 1px 1px 0 rgba(60,64,67,.08),0 1px 3px 1px rgba(60,64,67,.16);
}

.blockContainer {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row;
    padding: 0 0 24px 14px;
    position: relative;
}

.blockContainerLast {
    margin: -23px 0 -14px -12px;
}

.concatContainer {
    position: absolute;
    top: -23px;
    left: 3px;
    display: flex;
    font-size: 10px;
}

.sepV {
    flex-shrink: 0;
    width: 1px;
    height: 42px;
    background: silver;
}

.sepH {
    flex-shrink: 0;
    width: 16px;
    height: 1px;
    background: silver;
}

.invertSelect {
    width: 150px;
}

.removeButtonContainer {
    flex-shrink: 0;
    width: 32px;
}

.selectType {
    flex-shrink: 0;
    width: 154px;
    height: 32px;
}
.selectType.dateAttribute {
    width: 180px;
}

.selectInverted {
    flex-shrink: 0;
    width: 64px;
    height: 32px;
    margin: 0 4px;
}
.selectInverted.dateAttribute {
    width: 124px;
}

.valueContainer {
    flex-shrink: 0;
    width: 280px;
    height: 32px;
}
.valueContainer.wide {
    width: 350px;
}

.header {
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 3px;
}

.plusIconContainer {
    width: 23px;
    height: 23px;
    border: 1px solid silver;
    border-radius: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1px;
    color: #000000;
}
.plusIconContainer:hover {
    cursor: pointer;
    border-color: #40a9ff;
    color: #40a9ff;
}
