$baseCls: 'ud-markdown-editor';

.#{$baseCls} {
  &.react-mde {
    .mde-header {
      .mde-tabs {
        flex-direction: row-reverse;
      }

      .mde-header-group {
        .mde-header-item {
          button[data-name='strikethrough'] {
            display: none;
          }
        }
      }
    }
  }
}