$headerHeight: 34px;
$cardContentHeight: calc(100% - 34px);

.cardPanel {
    background-color: transparent;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    border: 1px solid silver;
    height: 100%;
}

.cardPanel.internal {
    background-color: transparent;

    box-shadow: none;
    border: none;
    border-radius: 0;
    margin-bottom: 0;
}

.cardPanel.contentAutoHeight {
    height: auto;
}

.cardHeader {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    justify-content: space-between;
    height: $headerHeight;
    align-items: center;
    padding: 0 12px;
    border-bottom: 1px solid silver;

    &.themeDefault {
        background-color: #E6E6E6;
    }

    &.themeLight {
        background-color: white;
    }
}

.cardHeader.isCollapsed {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom: 0;
}

.cardPanel.internal .cardHeader {
    padding: 0;
    background-color: transparent;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: silver;
}

.cardTitle {
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'PT Sans', serif;
    padding: 7px 0;
}

.cardPanel.internal .cardTitle {
    background-color: transparent;
    font-family: 'Open Sans', serif;
    text-transform: none;
    font-weight: bold;
    padding: 12px 0 2px 0;
}

.extraButtonsContainer {
    display: flex;
    align-items: center;
}

.cardContent {
    background: #ffffff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 6px 24px 12px 24px;
    overflow: auto;
    height: $cardContentHeight;
    transition: height, padding .2s;
}

.cardContent.internal {
    background-color: transparent;
}

.cardContent.noOverflowY {
    overflow-y: hidden;
}

.cardContent.contentAutoHeight {
    height: auto;
}

.cardContent.isCollapsed {
    height: 0;
    overflow: hidden;
    padding: 0;
}

.cardContent.withoutHeader {
    border-radius: 5px;
    height: 100%;
}

.cardPanel.noBodyPadding, .cardContent.noBodyPadding {
    padding: 0;

    .cardContent {
        padding: 0 0 0 0;
    }
}

.cardPanel.internal, .cardContent.internal {
    background-color: transparent;
}

.collapseIcon {
    margin-left: 8px;
    cursor: pointer;
    transition: transform .2s;
    line-height: 0;
}

.cardContainer {
    display: flex;
    &.verticalGroup {
        flex-direction: column;
    }

    .cardPanel, .cardHeader, .cardHeader.isCollapsed {
        border-radius: 0;
    }

    &.verticalGroup .cardPanel:not(:first-child) {
        margin-top: -1px;
    }
    &.horizontalGroup .cardPanel:not(:first-child) {
        margin-left: -1px;
    }

    &.horizontalGroup {
        .cardPanel {
            flex-grow: 1;
            &:first-child {
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;

                .cardHeader {
                    border-top-left-radius: 5px;
                    &.isCollapsed {
                        border-bottom-left-radius: 5px;
                    }
                }
            }
            &:last-child {
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;

                .cardHeader, .cardHeader.isCollapsed {
                    border-top-right-radius: 5px;
                }
            }
        }
    }

    &.verticalGroup {
        .cardPanel {
            &:first-child {
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;

                .cardHeader, .cardHeader.isCollapsed {
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                }
            }
            &:last-child {
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;

                .cardHeader.isCollapsed {
                    border-bottom-left-radius: 5px;
                    border-bottom-right-radius: 5px;
                }
            }
        }
    }
}

.gridLayout {
    .cardPanel.internal {
        border: 1px solid transparent;
    }
    .cardPanel.internal:hover {
        border: 1px solid #F2F2F2;
    }
}
