.editor {
    display: flex;
    flex-flow: column;
    flex: 1 1 auto;
    overflow-y: auto;
    -ms-overflow-x: hidden;
}

.editor.small {
    padding: 8px;
}

.editor.basic {
    padding: 16px;
}

.editor.very {
    padding: 20px 20%;
}
