.button {
  height: 34px;
  min-width: 34px;
  background-color: transparent;
  border: none;
  outline: none;
  position: relative;

  &:hover {
    .text,
    .icon {
      color: white;
    }
  }
}

.buttonDisabled {
  &:hover {
    .text,
    .icon {
      color: white;
    }
  }
}

.text {
  font-size: 13px;
  padding: 0;
  color: #CCCCCC;
}

.icon {
  padding: 0 6px;
  font-size: 17px;
  color: #CCCCCC;
}

.decal {
  .counter {
    margin-left: -13.5px;
    position: absolute;
    bottom: 3px;
  }
}
