.decal {}

.counter {}

.picker.picker {
  :global {
    .ant-popover-inner-content {
      display: flex;
      flex-direction: column;
      padding: 4px 0;
    }
  }
}

.icon {
  color: red;
  &:global {
    &.icon-chevron-down {
      font-size: 9px;
    }
  }
}
