.button {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0 9px;
  height: 27px;

  &:hover .text {
    color: #00b0ff;
  }
}

.buttonDisabled {
  &:hover .text {
    color: #434343;
  }
}

.text {
  white-space: nowrap;
  font-size: 13px;
  color: #434343;
}

.icon {
  font-size: 16px;
  padding-right: 7px;
  color: black;
}

.decal {
  width: auto;
  height: 1em;
  margin-left: 6.5px;

  .counter {
    position: relative;
  }
}
