.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #777;
  border-radius: 20px;
  height: 38px;
  width: 194px;
  padding: 0 22px 0 4px;
  line-height: normal;
  transition: all .3s;
  color: #666;
}
.container.isDisabled {
  opacity: 0.6;
}

.icon {
  height: 32px;
}

.icon svg {
  height: 30px;
  width: 30px;
  transition: all .3s;
}

.container.isDisabled:hover {
  cursor: not-allowed;
}

.container:not(.isDisabled):hover {
  background: rgba(0, 123, 183, 1);
  cursor: pointer;
  color: #fff;
  border-color: rgba(0, 123, 183, 1);
  .icon svg {
    fill: #fff;
  }
}

.text {
  font-size: 13px;
  text-transform: uppercase;
}

.isDisabled {

}
