.logincont {
  position: relative;
  height: 100vh;
  width: 100%;

  &.applicationUsermode {
    background: url(../../../../../../react-resources/unidatabootstrap/images/loginbackground-user.jpg) no-repeat center center fixed;
  }

  &.applicationAdminmode {
    background: url(../../../../../../react-resources/unidatabootstrap/images/loginbackground-admin.jpg) no-repeat center center fixed;
  }
}
