.emptySegmentContainer {
  text-align: center;
  margin: 12px;
  font-style: italic;
}

.editorSegment {
  display: flex;
  flex-direction: row;
}

.segmentContainer {
  flex: 1;
  border-right: 1px solid silver;
  overflow: hidden;
  margin: 12px 0 12px 12px;
}

.segmentIsEmpty {
  color: #999;
  margin-top: 5px;
  margin-bottom: 5px;
}

.buttonContainer {
  margin: 12px 6px;
  display: flex;
}
