$error-color: rgb(136, 3, 3);
$warning-color: rgb(54,53,51);
$info-color: rgb(51,102,153);
$base-color: rgb(255,255,255);
$error-low-color: #b33900;

@keyframes moveIn {
  from {
    transform : translateX(500px);
    opacity   : 0;
  }
  to {
    transform : translateX(0);
    opacity   : 1;
  }
}

.block {
  position: relative;
  background: $error-color;
  padding: 16px;
  font-size: 12px;
  margin-bottom: 20px;
  color: $base-color;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  animation : moveIn 0.5s 1;
}

.disappear {
  opacity: 0;
  transform: translateX(500px);
  transition: opacity 0.5s 1s, transform 0.5s 1s;
}

.warningBlock {
  background: $warning-color;
}

.infoBlock {
  background: $info-color;
}

.lowSeverityBlock {
  background: $error-low-color;
}

.icon {
  position: absolute;
  margin-top: -7px;

  svg {
    width: 32px;
    height: 32px;
    fill: $base-color;
  }
}

.title {
  margin-bottom: 4px;
  margin-left: 48px;
  font-size: 16px;
}

.description {
  font-size: 12px;
  margin-left: 48px;
}

.closeButton {
  position: absolute;
  top: 13px;
  right: 11px;
  cursor: pointer;
  font-size: 30px;
  svg {
    fill: white;
  }
}

.buttonContainer {
  text-align: right;
  button span {
    color: #fff;
    text-transform: none;
    text-decoration: underline;
  }
}