@import "../../constants/style/color.scss";

.icon {
}

.iconSizeXs {
    width: 9px;
    height: 9px;
}

.iconSizeS {
    width: 11px;
    height: 11px
}

.iconSizeM {
    width: 13px;
    height: 13px;
}

.iconSizeL {
    width: 15px;
    height: 15px;
}

.iconSizeXl {
    width: 19px;
    height: 19px;
}

.iconIntentDefault {
    fill: $default;
}

.iconIntentPrimary {
    fill: $primary
}

.iconIntentInfo {
    fill: $info;
}

.iconIntentSuccess {
    fill: $success;
}

.iconIntentWarning {
    fill: $warning;
}

.iconIntentDanger {
    fill: $danger;
}

.iconIntentGhost {
    fill: $ghost;
}

.iconIntentSecondary {
    fill: $secondary;
}
