.ud-menu-cell-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
}

.ud-menu-name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.ud-menu-readonly {
    color: #999;
    font-style: italic;
    font-weight: 100;
    width: 90px;
    flex-shrink: 0;
}
