$colorWhite: #ffffff;

$colorGray3: #e0e0e0;
$colorGray4: #bdbdbd;
$colorGray5: #9e9e9e;
$colorGray6: #757575;
$colorGray7: #616161;

$colorGray9: #212121;

$i: 4px;

$indentXS: $i * 1;
$indentS: $i * 2;
$indentM: $i * 4;
$indentL: $i * 8;
$indentXL: $i * 16;

$modalHeaderCloseIconSize: $i * 6;

.modal {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: $indentL;
  min-height: 100%;
  pointer-events: none;
}

.modalHasHeader {
}

.modalHasFooter {
}

.modalSizeXs .container {
  width: 300px;
}

.modalSizeS .container {
  width: 400px;
}

.modalSizeM .container {
  width: 600px;
}

.modalSizeL .container {
  width: 900px;
}

.modalSizeXl .container {
  width: 1200px;
}

.container {
  max-width: 100%;
  pointer-events: auto;
  background: $colorWhite;
  box-shadow: 0 0 $indentM $colorGray6;
  border-radius: $i;
  border: 1px solid $colorGray4;
}

.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $colorGray3;
  padding: $indentM;
  font-weight: bold;
  text-transform: uppercase;
}

.closeIconContainer {
  align-self: flex-start;
  cursor: pointer;
}

svg.closeIcon {
  fill: $colorGray5;
}

svg.closeIcon:hover {
  fill: $colorGray7;
}

svg.closeIcon:active {
  fill: $colorGray9;
}
.headerContent {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.headerContentHasText {
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1;
}

.body {
  padding: $indentM;
}

.noPadding {
  padding: 0;
}

.footer {
  border-top: 1px solid $colorGray3;
  padding: $indentM;
}
