.inputContainer {
  position: relative;
  background: #fff;
  padding: 8px 12px;
  box-shadow: 0 1px 1px 0 rgba(60,64,67,.08),0 1px 3px 1px rgba(60,64,67,.16);
}

.blockContainer {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
  padding: 0 0 24px 14px;
  position: relative;
}

.blockContainerLast {
  margin: -23px 0 -14px -12px;
}

.concatContainer {
  position: absolute;
  top: -23px;
  left: 3px;
  display: flex;
  font-size: 10px;
}

.sepV {
  flex-shrink: 0;
  width: 1px;
  height: 42px;
  background: silver;
}

.sepH {
  flex-shrink: 0;
  width: 16px;
  height: 1px;
  background: silver;
}

.invertSelect {
  width: 150px;
}

.removeButtonContainer {
  flex-shrink: 0;
  width: 32px;
}

.selectType {
  flex-shrink: 0;
  width: 154px;
  height: 32px;
}
.selectType.dateAttribute {
  width: 180px;
}

.selectInverted {
  flex-shrink: 0;
  width: 64px;
  height: 32px;
  margin: 0 4px;
}
.selectInverted.dateAttribute {
  width: 124px;
}

.valueContainer {
  flex-shrink: 0;
  width: 240px;
  height: 32px;
}

.header {
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 3px;
}

.plusIconContainer {
  width: 23px;
  height: 23px;
  border: 1px solid silver;
  border-radius: 11px;
  text-align: center;
  margin-left: 1px;
  color: #000000;
}
.plusIconContainer:hover {
  cursor: pointer;
  border-color: #40a9ff;
  color: #40a9ff;
}
.plusIconContainer:hover svg {
  fill: #40a9ff;
}

.numberRange {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.withMeasurement {
  display: flex;
}
.measurementUnit {
  margin-left: 4px;
  flex-shrink: 0;
  width: 50px;
}

.withMeasurement .numberRange {
  width: 226px;
}

.warning {
  border: 1px solid #c63c17;
  background-color: #fbf5f2;
  box-shadow: none;
}

.warning:global(.ant-input-affix-wrapper) {
  background: transparent;
  border: transparent;
}

.errorContainer {
  padding-top:4px;
  padding-left: 20px;
  font-size: 11px;
  color: #c63c17;
  line-height: 1.35;
  display: flex;
}

.errorContainer>svg {
  fill: #c63c17;
  margin-right: 4px;
}
