$baseCls: 'ud-popup-button';

.#{$baseCls}-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  &.ud-button.ud-button-color-white.ant-btn-primary {
    border: 1px solid #ccc;
  }

  &.ant-btn-primary {
    box-shadow: 2px 2px 5px #CCC !important;
    -moz-box-shadow: 2px 2px 5px #CCC !important;
    -o-box-shadow: 2px 2px 5px #CCC !important;
    -webkit-box-shadow: 2px 2px 5px #CCC !important;
  }
}

.#{$baseCls}-wnd {
  position: absolute;
  bottom: 0;
  right: 0;
  &.ant-card {
    .ant-card-head {
      padding: 0 5px 0 8px;
    }

    .ant-card-head-title {
      text-transform: none;
      color: #999;
      .ud-icon {
        margin-right: 5px;
        vertical-align: bottom;
      }
    }

    .ant-card-body {
      padding: 0 0 5px 0;

      .ud-add-room-button {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
      }
    }
  }
}