.sider:global(.ant-layout-sider) {
  width: 400px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 55px);
  background-color: #DCDCDC;
}

.siderList {
  overflow-x: hidden !important;
  overflow-y: hidden !important;
  border: none;
  height: 100%;

  :global(.rt-thead):global(.-header) {
    box-shadow: none;
    overflow-x: hidden;
  }

  :global(.rt-table) {
    height: 100%
  }

  :global(.rt-tr-group) {
    flex-grow: 0;
    border-bottom: none !important;
    border-top: 1px solid #b9b9b9;

    &:hover {
      background-color: #f6f6f6;
    }
  }
  :global(.rt-tr-group:last-child) {
    border-bottom: 1px solid #b9b9b9 !important;
  }

  :global(.rt-tbody) {
    overflow-y: auto;
    overflow-x: hidden !important;
    position: relative;
  }

  :global(.-sort-desc), :global(.-sort-asc) {
    box-shadow: none !important;

    &:before {
      font-size: 8px;
      line-height: 16px;
      float: right;
    }
  }

  :global(.-sort-desc) {
    &:before {
      content: "▼";
    }
  }

  :global(.-sort-asc) {
    &:before {
      content: "▲";
    }
  }
}


.siderContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.siderHeader {
  display: flex;
  margin-bottom: 0;
  padding: 8px;

  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 52px;
}

.siderHeader.rotated {
  padding: 0;
}

.headerText {
  line-height: normal;
  margin-bottom: 0;
  display: inline-block;
  position: relative;
  font-family: 'Open Sans Semibold', sans-serif;
  font-style: normal;
  font-size: 12px;
  color: #999999;
  text-transform: uppercase;

  animation: scale2 .2s ease-out;
  @keyframes scale2 {
    0% {transform: rotate(0deg) scale(0);}
    50% {transform: rotate(0deg) scale(0);}
    100% {transform: rotate(0deg) scale(1);}
  }
}

.headerText.rotated {
  transform: rotate(90deg);
  display: inline-block;
  white-space: nowrap !important;
  transform-origin: -14px center;
  animation: scale1 .2s ease-out;

  @keyframes scale1{
    0% {transform: rotate(90deg) scale(0);}
    50% {transform: rotate(90deg) scale(0);}
    100% {transform: rotate(90deg) scale(1);}
  }
}

.siderListContainer {
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
  overflow-y: hidden;
}

.tableHeader {
  text-align: left;
  padding: 4px 16px 4px 10px !important;
  font-family: 'PT Sans', serif;
  font-size: 12px;
  font-weight: 700;
  border-right: none !important;
  border-bottom: 2px solid gray;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.65);
}

.tableHeader.hidden {
  display: none;
}

.tableRow {
  :global(.rt-td) {
    color: black;
    border-left: none;
    border-right: none;
    font-family: 'Open Sans', sans-serif;
    min-height: 40px;
    padding: 0 10px;
    font-weight: 500;
    font-size: 13px;
    cursor: default;
    display: flex;
    align-items: center;
  }

  &:hover {
    :global(.rt-td):first-of-type {
      box-shadow: inset 5px 0 0 0 #507FBA;
    }
  }
}

.tableRow.selectedRow {
  background: #CCCCCC;

  :global(.rt-td):first-of-type {
    box-shadow: inset 5px 0 0 0 #507FBA;
  }

  :global(.rt-td) {
    font-weight: 600;
  }
}

.inactiveRow {
  color: #7b7f89;
}


