﻿.cardContainer {
    height: 100%;
    overflow: hidden;
    margin: 8px;
}
.extraContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 160px;
}

.settingIconContainer {
    padding-left: 8px;
    border-left: 1px solid silver;
    display: flex;
    align-items: center;
    height: 20px;
}
