.segmentBar {
  text-align: left;
}

.lineTitle {
  color: #999;
}

.lineValue {
  color: #999;
  font-weight: bold;
}

.lineBlock {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
