.init {
  text-align: center;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans";
  svg {
    height: 40px;
    :global(.cls-1) {
      fill: #3c77c2;
    }
  }
  .mainText {
    margin-top: 20px;
    font-size: 16px;
    color: #000;
    line-height: 18px;
    .blue {
      color: #3366cc;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .subText {
    margin-top: 10px;
    font-size: 12px;
    color: #777;
  }
}
