@import '../../constants/style/color';

.ddOverlay {
  width: auto !important;
  min-width: auto !important;
}

.ddHeader {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 11px;
  font-family: 'Open Sans Bold', serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px 6px;
}

.ddItem {
  font-size: 13px;
  margin: 4px 2px;
  padding: 2px 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ddItem:hover {
  background-color: #E6F0FA;
  cursor: pointer;
}

.ddItemMinimal:hover {
  background-color: transparent;
  color: $primary-text-hover;
}

.ddItemDisabled:hover {
  opacity: 0.6;
}
.ddItemNoHover:hover {
  cursor: no-drop;
  background-color: transparent;
}

.ddItemIconContainer {
  min-width: 13px;
  margin-left: 8px;
}

.ddSplitter {
  width: 100%;
  height: 1px;
  background-color: silver;
  margin: 4px 0;
}
