.ud-matching-header-panel {
  padding: 0 5px 15px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .ud-header-buttons {
    margin-left: auto;
  }

  .ud-breadcrumb {
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 28px;

    .ant-breadcrumb-link {
      color: #000;
    }
  }
}

.ud-matching-removal-confirmation {
  &_warning {
    margin-top: 8px;

    &_rules-list {
      li {
        font-weight: 600;
      }

    }
  }
}
