$baseCls: 'ud-matching-parameter-table';

.#{$baseCls} {

  border: none !important;
  font-size: 12px;

  .ReactTable .rt-table {
    border: none;
  }

  .ReactTable .rt-table .rt-thead .rt-th {
    border: none;
    color: green;
  }

  .rt-thead.-header {
    border-bottom: 1px solid black;
    box-shadow: none !important;

    .rt-tr {
      text-align: left;
      font-weight: bold;
      text-transform: uppercase;
    }

    .rt-th {
      border: none;
    }
  }

  .rt-table .rt-tbody .rt-td {
    border: none !important;
  }

  .rt-tr-group {
    border: none !important;
  }

  .rt-table {
    .rt-tr {
      cursor: default;
      &:hover {
        .ud-delete-matching-parameter-button-container {
          display: block;
        }
      }

      .ud-delete-matching-parameter-button-container {
        display: none;
      }
    }
  }


  .ud-button.ant-btn-circle {
    height: 18px;
  }
}
