$size: 14px;

.counter {
  background-color: red;
  font-size: $size;
  border-radius: 0.5em;
  line-height: 1em;
  height: 1em;
  min-width: 1em;
  padding: 0 3px;
  color: white;
  position: absolute;

  span {
    display: block;
    font-size: 0.65em;
    font-weight: bold;
  }
}
