.footer {
  padding: 10px 16px;
  display: flex;
  width: 100%;
  margin-top: auto;
  height: 50px;
  border-top: 1px solid #cbcbcb;
}

.leftContainer {
  justify-content: flex-start;
}

.rightContainer {
  justify-content: flex-end;
}

.footerControls {
  display: flex;
  width: 50%;
}
