$cmpClass: 'ud-role-clsfroot-list-editor';

.#{$cmpClass} {
  .ud-addbutton {
    text-align: center;
    color: #007bb7;
    user-select: none;
    margin-top: 10px;
    margin-bottom: 25px;
    cursor: pointer;
  }

  // make a chess Board!
  //ud-row:nth-child(even) {
  //  background: #F8F8F8;
  //}
}
