$cmpClass: 'ud-role-clsfroot-list-item';

.#{$cmpClass} {
  display: flex;

  line-height: 24px;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  padding-left: 2px;
  padding-right: 2px;

  .ud-column {
    width: 100px;
    //flex-basis: 15%;
    flex-grow: 0;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;
  }

  .ud-column-main {
    flex-grow: 1;
    text-align: left;
  }

  .ud-column-remove {
    cursor: pointer;
    visibility: hidden;
    max-width: 30px;
    text-align: right;
    padding-right: 6px;

  }

  &:nth-child(even) {
    background-color: #F8F8F8;
  }

  &.ud-row:hover {
    background-color: $ud-item-over;

    .ud-column-remove {
      visibility: visible;
    }
  }

  &.selected {
    background-color: $ud-item-selected;
  }
}
