.searchContainer {
    // z-index is set to create an overlay context so that child elements do not overlap floating components
    // TODO: remove after solving problems with z-index for antd components
    z-index: 1;
    background-color: #f2f2f2;
    padding: 8px 12px 8px 8px;
    border-bottom: 1px solid #dadada;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.searchControls {
    display: flex;
    align-items: center;
}

.entityList {
    width: 600px;
}


.searchButton {
    margin-left: 16px;
}
.allFilters {
    margin-left: 16px;
    width: 200px;
}
