.dropDownContainer {
  background: #fff;
  padding: 4px 0 10px 0;
  // max-height: 500px;
  min-width: 240px;
  overflow: hidden;
  // overflow-y: auto;
  box-shadow: 0 1px 1px 0 rgba(60,64,67,.08),0 1px 3px 1px rgba(60,64,67,.16);
}

.ddGroupName {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 11px;
  font-family: 'Open Sans', serif;
  //margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px 0;
}
.ddGroupHover:hover {
  background: #E6F0FA;
  cursor: pointer;
}

.ddItem {
  padding: 2px 0;
  display: flex;
  font-size: 13px;
  justify-content: space-between;
  align-items: center;
}
.ddItem:hover {
  background: #E6F0FA;
  cursor: pointer;
}

.ddItem.disabled {
  cursor: no-drop;
  background: transparent;
}
.ddItem .checkIcon {
  margin-left: 4px;
  visibility: hidden;
}
.ddItem.disabled .checkIcon {
  visibility: visible;
}

.popoverContainer :global(.ant-popover-inner-content) {
  padding: 12px 0;
}
