@import "../functions/decToHex";
@import "../functions/unicode";

$font-family-un-icons: 'ud_menu-font';
$un-icon-cls-prefix: 'un-icon';

@font-face {
  font-family: $font-family-un-icons;
  src: url('../../../../../../react-resources/fonts/ud_menu-font.woff?645561') format('woff');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'ud_menu-font';
    src: url('../font/ud_menu-font.svg?645561#ud_menu-font') format('svg');
  }
}
*/

[class^="un-icon"]:before, [class*=" un-icon"]:before {
  font-family: $font-family-un-icons;
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  //margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  //margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  //-webkit-font-smoothing: antialiased;
  //-moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

//.#{$un-icon-cls-prefix} {
//  &_1-1:before { content: '\e800'; }
//  &_1-2:before { content: '\e801'; }
//  &_1-3:before { content: '\e802'; }
//  &_1-4:before { content: '\e803'; }
//  &_1-5:before { content: '\e804'; }
//}

$firstIconDec: 59392; //e800
$iconIndex: 1;

// generating classes for icons of the form .un-icon-1
@for $i from $firstIconDec through ($firstIconDec + 100) {
  $hex: decToHex($i);

  .#{$un-icon-cls-prefix}-#{$iconIndex}:before {
    content: unicode($hex);
  }

  $iconIndex: $iconIndex + 1;
}
