// https://google-webfonts-helper.herokuapp.com/fonts/pt-sans?subsets=latin-ext,cyrillic-ext,latin,cyrillic

/* pt-sans-regular - cyrillic_latin_cyrillic-ext_latin-ext */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'),
  url('../../../../../../react-resources/fonts/pt-sans/pt-sans-regular-v10.woff2?v1') format('woff2'), /* Super Modern Browsers */
  url('../../../../../../react-resources/fonts/pt-sans/pt-sans-regular-v10.woff?v1') format('woff'), /* Modern Browsers */
  url('../../../../../../react-resources/fonts/pt-sans/pt-sans-regular-v10.ttf?v1') format('truetype'); /* Safari, Android, iOS */
}

/* pt-sans-700 - cyrillic_latin_cyrillic-ext_latin-ext */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: bold;
  src: local('PT Sans Bold'), local('PTSans-Bold'),
  url('../../../../../../react-resources/fonts/pt-sans/pt-sans-bold-v10.woff2?v1') format('woff2'), /* Super Modern Browsers */
  url('../../../../../../react-resources/fonts/pt-sans/pt-sans-bold-v10.woff?v1') format('woff'), /* Modern Browsers */
  url('../../../../../../react-resources/fonts/pt-sans/pt-sans-bold-v10.ttf?v1') format('truetype'); /* Safari, Android, iOS */
}
