// fonts as in unidata

// Open Sans

@font-face {
  font-family: 'Open Sans';
  src: url('../../../../../../react-resources/fonts/unidata-old/OpenSans-Regular-webfont.woff?v1') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../../../../../../react-resources/fonts/unidata-old/OpenSans-Semibold-webfont.woff?v1') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../../../../../../react-resources/fonts/unidata-old/OpenSans-Bold-webfont.woff?v1') format('woff');
  font-weight: bold;
  font-style: normal;
}

// PT Sans

@font-face {
  font-family: 'PT Sans';
  src: url('../../../../../../react-resources/fonts/unidata-old/PTS55F-webfont.woff?v1') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans';
  src: url('../../../../../../react-resources/fonts/unidata-old/PTS75F-webfont.woff?v1') format('woff');
  font-weight: bold;
  font-style: normal;
}
