.ud-page-matching {
  .ant-layout-sider-children {
    overflow-y: auto;
  }
  span.ud-counter {
    font-weight: normal;
    text-transform: none;
  }
  .ud-add-button-panel {
    text-align: center;
    padding: 10px 0;
  }
}