.criteriaItem {
    padding: 2px 14px;
    display: flex;
    font-size: 13px;
    justify-content: space-between;
    align-items: center;
}

.criteriaItem:hover {
    background: #e6f0fa;
    cursor: pointer;
}

.criteriaItem .iconContainer {
    margin-left: 4px;
    visibility: hidden;
}

.criteriaItem.isChecked .iconContainer {
    visibility: visible;
}

.isChecked:not(.checkHover):hover {
    cursor: no-drop;
    background: transparent;
}

.criteriaItem.hasChildrenIcon .iconContainer {
    visibility: visible;
}

.criteriaItem.hasCounter .iconContainer {
    visibility: visible;
}

.counter {
    color: #fff;
    background: rgba(0, 100, 148, 1);
    width: 14px;
    height: 14px;
    line-height: 10px;
    border-radius: 7px;
    font-size: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.isHeader {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 11px;
    font-family: 'Open Sans Bold', serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px 10px;
}
.isHeader:not(.hasChildrenIcon):hover {
    cursor: inherit;
    background: transparent;
}

.isDisabled {
    opacity: 0.5;
}
.isDisabled:hover {
    cursor: no-drop;
    background: transparent;
}
