.groupContainer {
  display: flex;

  :global(.ant-select-selection), :global(.ant-input), :global(.ant-calendar-picker-input) {
    border-radius: 0;
  }

  :global(.ant-select), :global(.ant-input), :global(.ant-calendar-picker), :global(.ant-input-affix-wrapper), :global(div[class^=container]) {
    &:not(:first-child) {
      margin-left: -1px;
    }
  }

  :global(.ant-select):first-child :global(.ant-select-selection),
  :global(div[class^=container]):first-child :global(.ant-input-affix-wrapper):first-child :global(.ant-input),
  :global(.ant-calendar-picker):first-child :global(.ant-calendar-picker-input) {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  :global(.ant-select):last-child :global(.ant-select-selection),
  :global(div[class^=container]):last-child :global(.ant-input-affix-wrapper):last-child :global(.ant-input),
  :global(.ant-calendar-picker):last-child :global(.ant-calendar-picker-input) {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}
