.button {
    max-width: 100%;
    display: inline-flex;
    align-items: center;
    border: 1px solid grey;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    padding: 0;
}

.buttonAlignLeft:not(.buttonHasSpace) {
    justify-content: flex-start;
}

.buttonAlignCenter:not(.buttonHasSpace) {
    justify-content: center;
}

.buttonAlignRight:not(.buttonHasSpace) {
    justify-content: flex-end;
}

.buttonHasSpace {
    justify-content: space-between;
}

.buttonHasSpace .buttonText {
    width: 100%;
}

.buttonHasSpace.buttonAlignLeft .buttonText {
    text-align: left;
}

.buttonHasSpace.buttonAlignCenter .buttonText {
    text-align: center;
}

.buttonHasSpace.buttonAlignRight .buttonText {
    text-align: right;
}

.buttonAnchor {
    text-decoration: none;
}

/*!* Size XS *!*/

.buttonSizeXs {
    min-width: 10px;
    min-height: 10px;
}

.buttonSizeXs .buttonText {
    font-size: 9px;
    line-height: 1.1;
}

.buttonSizeXs.buttonHasText,
.buttonSizeXs.buttonHasLeftIcon.buttonHasRightIcon {
    padding: 0 5px;
}

.buttonSizeXs.buttonIsRound {
    border-radius: 5px;
}

.buttonSizeXs.buttonHasText .buttonLeftIconContainer,
.buttonSizeXs.buttonHasRightIcon .buttonText,
.buttonSizeXs.buttonHasRightIcon .buttonLeftIconContainer,
.buttonSizeXs.buttonHasLeftIcon.buttonHasText .buttonWaitingIconContainer,
.buttonSizeXs.buttonHasLeftIcon.buttonHasRightIcon .buttonWaitingIconContainer {
    margin-right: 2px;
}

/* Size S */

.buttonSizeS {
    min-width: 20px;
    min-height: 20px;
}

.buttonSizeS .buttonText {
    font-size: 10px;
    line-height: 1.1;
}

.buttonSizeS.buttonHasText,
.buttonSizeS.buttonHasLeftIcon.buttonHasRightIcon {
    padding: 0 9px;
}

.buttonSizeS.buttonIsRound {
    border-radius: 10px;
}

.buttonSizeS .buttonLeftIconContainer,
.buttonSizeS .buttonRightIconContainer {
    border-radius: 10px;
    /* background: green; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}

.buttonSizeS.buttonHasText .buttonLeftIconContainer {
    margin-left: -10px;
}
.buttonSizeS.buttonHasText .buttonRightIconContainer {
    margin-right: -10px;
}

/* Size M */

.buttonSizeM {
    min-width: 28px;
    min-height: 28px;
}

.buttonSizeM .buttonText {
    font-size: 11px;
    line-height: 1.1;
}

.buttonSizeM.buttonHasText,
.buttonSizeM.buttonHasLeftIcon.buttonHasRightIcon {
    padding: 0 14px;
}

.buttonSizeM.buttonIsRound {
    border-radius: 14px;
}

.buttonSizeM .buttonLeftIconContainer,
.buttonSizeM .buttonRightIconContainer {
    border-radius: 14px;
    /* background: green; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
}

.buttonSizeM.buttonHasText .buttonLeftIconContainer {
    margin-left: -14px;
}
.buttonSizeM.buttonHasText .buttonRightIconContainer {
    margin-right: -14px;
}

/*.buttonSizeM.buttonHasRightIcon .buttonText,*/
/*.buttonSizeM.buttonHasRightIcon .buttonLeftIconContainer,*/
/*.buttonSizeM.buttonHasLeftIcon.buttonHasText .buttonWaitingIconContainer,*/
/*.buttonSizeM.buttonHasLeftIcon.buttonHasRightIcon .buttonWaitingIconContainer {*/
/*    !*margin-right: 7px;*!*/
/*    margin-left: -14px;*/
/*    border-radius: 14px;*/
/*    !* background: green; *!*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    width: 28px;*/
/*    height: 28px;*/
/*}*/

/* Size L */

.buttonSizeL {
    min-width: 40px;
    min-height: 40px;
}

.buttonSizeL .buttonText {
    font-size: 15px;
    line-height: 1.1;
}

.buttonSizeL.buttonHasText,
.buttonSizeL.buttonHasLeftIcon.buttonHasRightIcon {
    padding: 0 20px;
}

.buttonSizeL.buttonIsRound {
    border-radius: 20px;
}

.buttonSizeL.buttonHasText .buttonLeftIconContainer,
.buttonSizeL.buttonHasRightIcon .buttonText,
.buttonSizeL.buttonHasRightIcon .buttonLeftIconContainer,
.buttonSizeL.buttonHasLeftIcon.buttonHasText .buttonWaitingIconContainer,
.buttonSizeL.buttonHasLeftIcon.buttonHasRightIcon .buttonWaitingIconContainer {
    margin-right: 10px;
}

/* Size XL */

.buttonSizeXl {
    min-width: 48px;
    min-height: 48px;
}

.buttonSizeXl .buttonText {
    font-size: 18px;
    line-height: 1.1;
}

.buttonSizeXl.buttonHasText,
.buttonSizeXl.buttonHasLeftIcon.buttonHasRightIcon {
    padding: 0 24px;
}

.buttonSizeXl.buttonIsRound {
    border-radius: 24px;
}

.buttonSizeXl.buttonHasText .buttonLeftIconContainer,
.buttonSizeXl.buttonHasRightIcon .buttonText,
.buttonSizeXl.buttonHasRightIcon .buttonLeftIconContainer,
.buttonSizeXl.buttonHasLeftIcon.buttonHasText .buttonWaitingIconContainer,
.buttonSizeXl.buttonHasLeftIcon.buttonHasRightIcon .buttonWaitingIconContainer {
    margin-right: 12px;
}

/* Intent Default */

.buttonIntentDefault {
    background: rgba(228, 228, 228, 1);
    border-color: rgba(228, 228, 228, 1);
    color: #666666;

    .buttonLeftIconContainer svg,
    .buttonRightIconContainer svg,
    .buttonWaitingIconContainer svg {
        fill: #666666;
    }

    &.isGhost {
        background: transparent;
        border-color: rgba(188, 188, 188, 1);
    }

    &:not(.buttonIsDisabled):not(.buttonIsActive):hover {
        background: rgba(228, 228, 228, 1);
        border-color: rgba(188, 188, 188, 1);
        color: #666666;

        &.isGhost {
            background: rgba(100, 100, 100, 0.05);
            border-color: rgba(0, 123, 183, 1);
            color: rgba(0, 123, 183, 1);

            svg {
                fill: rgba(0, 123, 183, 1);
            }
        }
    }

    &.buttonIsActive,
    &:not(.buttonIsDisabled):not(.buttonIsActive):active {
        background: rgba(228, 228, 228, 1);
        border-color: rgba(0, 123, 183, 1);
        color: rgba(0, 123, 183, 1);

        .buttonLeftIconContainer svg,
        .buttonRightIconContainer svg,
        .buttonWaitingIconContainer svg {
            fill: rgba(0, 123, 183, 1);
        }

        &.isGhost {
            background: transparent;
        }
    }

    &.buttonIsMinimal {
        background: transparent;
        border-color: transparent;
        color: #666666;

        .buttonLeftIconContainer svg,
        .buttonRightIconContainer svg,
        .buttonWaitingIconContainer svg {
            fill: #666666;
        }

        &:not(.buttonIsDisabled):not(.buttonIsActive):hover,
        &.buttonIsActive,
        &:not(.buttonIsDisabled):not(.buttonIsActive):active {
            background: transparent;
            border-color: transparent;
            text-decoration: underline;
            color: rgba(0, 123, 183, 1);

            svg {
                fill: rgba(0, 123, 183, 1);
            }

            &.isGhost {
                background: rgba(41, 41, 41, 0.1);
                text-decoration: none;
            }
        }
    }
}

/* Intent Primary */

.buttonIntentPrimary {
    background: rgba(0, 100, 148, 1);
    border-color: rgba(0, 100, 148, 1);
    color: #fff;

    .buttonLeftIconContainer svg,
    .buttonRightIconContainer svg,
    .buttonWaitingIconContainer svg {
        fill: #fff;
    }

    &.isGhost {
        background: transparent;
        border-color: rgba(0, 100, 148, 1);
        color: rgba(0, 100, 148, 1);

        svg {
            fill: rgba(0, 100, 148, 1);
        }
    }

    &:not(.buttonIsDisabled):not(.buttonIsActive):hover,
    &.buttonIsActive,
    &:not(.buttonIsDisabled):not(.buttonIsActive):active {
        background: rgba(0, 123, 183, 1);
        border-color: rgba(0, 123, 183, 1);
        color: #ffffff;

        &.isGhost {
            background: rgba(100, 100, 100, 0.05);
            border-color: rgba(0, 123, 183, 1);
            color: rgba(0, 123, 183, 1);

            svg {
                fill: rgba(0, 123, 183, 1);
            }
        }
    }

    &.buttonIsMinimal {
        background: transparent;
        border-color: transparent;
        color: rgba(0, 100, 148, 1);

        .buttonLeftIconContainer svg,
        .buttonRightIconContainer svg,
        .buttonWaitingIconContainer svg {
            fill: rgba(0, 100, 148, 1);
        }

        &:not(.buttonIsDisabled):not(.buttonIsActive):hover,
        &.buttonIsActive,
        &:not(.buttonIsDisabled):not(.buttonIsActive):active {
            background: transparent;
            border-color: transparent;
            text-decoration: underline;
            color: rgba(0, 123, 183, 1);

            svg {
                fill: rgba(0, 123, 183, 1);
            }

            &.isGhost {
                background: rgba(41, 41, 41, 0.1);
                text-decoration: none;
            }
        }
    }
}

/* Intent Info */

.buttonIntentInfo {
    background: #f1ba3a;
    border-color: #f1ba3a;
    color: #9b6c08;

    .buttonLeftIconContainer svg,
    .buttonRightIconContainer svg,
    .buttonWaitingIconContainer svg {
        fill: #9b6c08;
    }

    &.isGhost {
        background: transparent;
        border-color: #9b6c08;
        color: #9b6c08;

        svg {
            fill: #9b6c08;
        }
    }

    &:not(.buttonIsDisabled):not(.buttonIsActive):hover,
    &.buttonIsActive,
    &:not(.buttonIsDisabled):not(.buttonIsActive):active {
        background: #f4c964;
        border-color: #f4c964;
        color: #9b6c08;

        &.isGhost {
            background: rgba(100, 100, 100, 0.05);
            border-color: #f4c964;
            color:#f4c964;

            svg {
                fill: #f4c964;
            }
        }
    }

    &.buttonIsMinimal {
        background: transparent;
        border-color: transparent;
        color: #9b6c08;

        .buttonLeftIconContainer svg,
        .buttonRightIconContainer svg,
        .buttonWaitingIconContainer svg {
            fill: #9b6c08;
        }

        &:not(.buttonIsDisabled):not(.buttonIsActive):hover,
        &.buttonIsActive,
        &:not(.buttonIsDisabled):not(.buttonIsActive):active {
            background: transparent;
            border-color: transparent;
            text-decoration: underline;
            color: #9b6c08;

            svg {
                fill: #9b6c08;
            }

            &.isGhost {
                background: rgba(41, 41, 41, 0.1);
                text-decoration: none;
                color: #f4c964;

                svg {
                    fill: #f4c964;
                }

            }
        }
    }
}

/*!* Intent Success *!*/

/*.buttonIntentSuccess {*/
/*    background: var(--buttonSuccessBackground);*/
/*    border-color: var(--buttonSuccessBorderColor);*/
/*    color: var(--buttonSuccessTextColor);*/
/*}*/

/*.buttonIntentSuccess .buttonLeftIcon.iconIntentSuccess,*/
/*.buttonIntentSuccess .buttonRightIcon.iconIntentSuccess,*/
/*.buttonIntentSuccess .buttonWaitingIcon.iconIntentSuccess {*/
/*    fill: var(--buttonSuccessTextColor);*/
/*}*/

/*.buttonIntentSuccess:not(.buttonIsDisabled):not(.buttonIsActive):hover {*/
/*    background: var(--buttonSuccessHoverBackground);*/
/*    border-color: var(--buttonSuccessHoverBorderColor);*/
/*    color: var(--buttonSuccessHoverTextColor);*/
/*}*/

/*.buttonIntentSuccess.buttonIsActive,*/
/*.buttonIntentSuccess:not(.buttonIsDisabled):not(.buttonIsActive):active {*/
/*    background: var(--buttonSuccessActiveBackground);*/
/*    border-color: var(--buttonSuccessActiveBorderColor);*/
/*    color: var(--buttonSuccessActiveTextColor);*/
/*}*/

/*.buttonIntentSuccess.buttonIsMinimal {*/
/*    background: var(--buttonSuccessIsMinimalBackground);*/
/*    border-color: var(--buttonSuccessIsMinimalBorderColor);*/
/*    color: var(--buttonSuccessIsMinimalTextColor);*/
/*}*/

/*.buttonIntentSuccess.buttonIsMinimal .buttonLeftIcon.iconIntentSuccess,*/
/*.buttonIntentSuccess.buttonIsMinimal .buttonRightIcon.iconIntentSuccess,*/
/*.buttonIntentSuccess.buttonIsMinimal .buttonWaitingIcon.iconIntentSuccess {*/
/*    fill: var(--buttonSuccessIsMinimalTextColor);*/
/*}*/

/*.buttonIntentSuccess.buttonIsMinimal:not(.buttonIsDisabled):not(.buttonIsActive):hover {*/
/*    background: var(--buttonSuccessIsMinimalHoverBackground);*/
/*    border-color: var(--buttonSuccessIsMinimalHoverBorderColor);*/
/*    color: var(--buttonSuccessIsMinimalHoverTextColor);*/
/*}*/

/*.buttonIntentSuccess.buttonIsMinimal.buttonIsActive,*/
/*.buttonIntentSuccess.buttonIsMinimal:not(.buttonIsDisabled):not(.buttonIsActive):active {*/
/*    background: var(--buttonSuccessIsMinimalActiveBackground);*/
/*    border-color: var(--buttonSuccessIsMinimalActiveBorderColor);*/
/*    color: var(--buttonSuccessIsMinimalActiveTextColor);*/
/*}*/

/*!* Intent Warning *!*/

/*.buttonIntentWarning {*/
/*    background: var(--buttonWarningBackground);*/
/*    border-color: var(--buttonWarningBorderColor);*/
/*    color: var(--buttonWarningTextColor);*/
/*}*/

/*.buttonIntentWarning .buttonLeftIcon.iconIntentWarning,*/
/*.buttonIntentWarning .buttonRightIcon.iconIntentWarning,*/
/*.buttonIntentWarning .buttonWaitingIcon.iconIntentWarning {*/
/*    fill: var(--buttonWarningTextColor);*/
/*}*/

/*.buttonIntentWarning:not(.buttonIsDisabled):not(.buttonIsActive):hover {*/
/*    background: var(--buttonWarningHoverBackground);*/
/*    border-color: var(--buttonWarningHoverBorderColor);*/
/*    color: var(--buttonWarningHoverTextColor);*/
/*}*/

/*.buttonIntentWarning.buttonIsActive,*/
/*.buttonIntentWarning:not(.buttonIsDisabled):not(.buttonIsActive):active {*/
/*    background: var(--buttonWarningActiveBackground);*/
/*    border-color: var(--buttonWarningActiveBorderColor);*/
/*    color: var(--buttonWarningActiveTextColor);*/
/*}*/

/*.buttonIntentWarning.buttonIsMinimal {*/
/*    background: var(--buttonWarningIsMinimalBackground);*/
/*    border-color: var(--buttonWarningIsMinimalBorderColor);*/
/*    color: var(--buttonWarningIsMinimalTextColor);*/
/*}*/

/*.buttonIntentWarning.buttonIsMinimal .buttonLeftIcon.iconIntentWarning,*/
/*.buttonIntentWarning.buttonIsMinimal .buttonRightIcon.iconIntentWarning,*/
/*.buttonIntentWarning.buttonIsMinimal .buttonWaitingIcon.iconIntentWarning {*/
/*    fill: var(--buttonWarningIsMinimalTextColor);*/
/*}*/

/*.buttonIntentWarning.buttonIsMinimal:not(.buttonIsDisabled):not(.buttonIsActive):hover {*/
/*    background: var(--buttonWarningIsMinimalHoverBackground);*/
/*    border-color: var(--buttonWarningIsMinimalHoverBorderColor);*/
/*    color: var(--buttonWarningIsMinimalHoverTextColor);*/
/*}*/

/*.buttonIntentWarning.buttonIsMinimal.buttonIsActive,*/
/*.buttonIntentWarning.buttonIsMinimal:not(.buttonIsDisabled):not(.buttonIsActive):active {*/
/*    background: var(--buttonWarningIsMinimalActiveBackground);*/
/*    border-color: var(--buttonWarningIsMinimalActiveBorderColor);*/
/*    color: var(--buttonWarningIsMinimalActiveTextColor);*/
/*}*/

/*!* Intent Danger *!*/

/* Intent Info */

.buttonIntentDanger {
    background: #ff3333;
    border-color: #ff3333;
    color: #fff;

    .buttonLeftIconContainer svg,
    .buttonRightIconContainer svg,
    .buttonWaitingIconContainer svg {
        fill: #fff;
    }

    &.isGhost {
        background: transparent;
        border-color: #ff1518;
        color: #ff1518;

        svg {
            fill: #ff1518;
        }
    }

    &:not(.buttonIsDisabled):not(.buttonIsActive):hover,
    &.buttonIsActive,
    &:not(.buttonIsDisabled):not(.buttonIsActive):active {
        background: #FF4B41;
        border-color: #FF4B41;
        color: #fff;

        &.isGhost {
            background: rgba(100, 100, 100, 0.05);
            border-color: #ff6b6a;
            color: #ff6b6a;

            svg {
                fill: #ff6b6a;
            }
        }
    }

    &.buttonIsMinimal {
        background: transparent;
        border-color: transparent;
        color: #ff3333;

        .buttonLeftIconContainer svg,
        .buttonRightIconContainer svg,
        .buttonWaitingIconContainer svg {
            fill: #ff3333;
        }

        &:not(.buttonIsDisabled):not(.buttonIsActive):hover,
        &.buttonIsActive,
        &:not(.buttonIsDisabled):not(.buttonIsActive):active {
            background: transparent;
            border-color: transparent;
            text-decoration: underline;
            color: #ff3333;

            svg {
                fill: #ff3333;
            }

            &.isGhost {
                background: rgba(41, 41, 41, 0.1);
                text-decoration: none;
                color: #ff6b6a;

                svg {
                    fill: #ff6b6a;
                }

            }
        }
    }
}

/* Intent Secondary */

.buttonIntentSecondary {
    background: #848484;
    border-color: #848484;
    color: #fff;

    .buttonLeftIconContainer svg,
    .buttonRightIconContainer svg,
    .buttonWaitingIconContainer svg {
        fill: #fff;
    }

    &.isGhost {
        background: transparent;
        border-color: #848484;
        color: #848484;

        svg {
            fill: #848484;
        }
    }

    &:not(.buttonIsDisabled):not(.buttonIsActive):hover,
    &.buttonIsActive,
    &:not(.buttonIsDisabled):not(.buttonIsActive):active {
        background: #a3a3a3;
        border-color: #a3a3a3;
        color: #fff;

        &.isGhost {
            background: rgba(100, 100, 100, 0.05);
            border-color: #a3a3a3;
            color: #a3a3a3;

            svg {
                fill: #a3a3a3;
            }
        }
    }

    &.buttonIsMinimal {
        background: transparent;
        border-color: transparent;
        color: #848484;

        .buttonLeftIconContainer svg,
        .buttonRightIconContainer svg,
        .buttonWaitingIconContainer svg {
            fill: #848484;
        }

        &:not(.buttonIsDisabled):not(.buttonIsActive):hover,
        &.buttonIsActive,
        &:not(.buttonIsDisabled):not(.buttonIsActive):active {
            background: transparent;
            border-color: transparent;
            text-decoration: underline;
            color: #848484;

            svg {
                fill: #848484;
            }

            &.isGhost {
                background: rgba(41, 41, 41, 0.1);
                text-decoration: none;
                color: #a3a3a3;

                svg {
                    fill: #a3a3a3;
                }

            }
        }
    }
}

.buttonIsDisabled {
    cursor: not-allowed;
    &:not(.buttonIntentPrimary) {
        opacity: 0.7;
    }
    &.buttonIntentPrimary {
        border-color: #999999;
        background-color: #b4b4b4;
    }
}
button[disabled] {
    cursor: not-allowed;
}

.buttonIsFilled {
    display: flex;
    width: 100%;
}

.buttonLeftIconContainer,
.buttonRightIconContainer,
.buttonWaitingIconContainer {
    display: flex;
}

.buttonText {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    user-select: none;
    text-transform: uppercase;
}
