$border-color: #d7d7d7;

.picker {
  &:global {
    &.ant-popover {
      .ant-popover-content {
        position: relative;
        margin-top: -13px;
        margin-left: -4px;
      }

      .ant-popover-inner {
        border: solid 1px $border-color;
        border-radius: 2px;
      }

      .ant-popover-inner-content {
        padding: 0;
      }

      .ant-popover-arrow {
        border: none;
        background-color: $border-color;
        top: -5px !important;
        width: 10px;
        height: 10px;

        &:before {
          content: ' ';
          width: 100%;
          height: 100%;
          margin-top: 1px;
          margin-left: 1px;
          background-color: white;
          overflow: hidden;
          display: block;
        }
      }

      &.ant-popover-placement-bottomRight {
        .ant-popover-arrow {
          right: 12px;
        }
      }
    }
  }
}
