.ud-rule-tree {
    display: flex;
    flex-direction: column;

    &_container {
        display: flex;
        justify-content: space-around;
    }

    &_container:nth-child(even) {
        background: #F8F8F8;
    }

    &_container:hover {
        background-color: $ud-item-over;
    }

    &_header {
        margin-bottom: 2px;
        border-bottom: 2px solid grey;
        text-transform: uppercase;
        font-size: 12px;
        font-family: 'PT Sans', serif;

        &:hover {
            background-color: transparent;
        }
    }

    &_body {
        max-height: 500px;
        overflow: auto;
        font-family: 'Open Sans', sans-serif;
        font-size: 13px;
        line-height: 24px;
    }

    &_first-column {
        flex-grow: 1;
        align-self: flex-start;
        text-align: left;
        font-weight: bold;
    }

    .v-dot-line {
        width: 2px;
        height: 24px;
        float: left;
        display: block;
        margin-left: 15px;
        margin-right: 2px;
        background: url('data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%220%200%202%202%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%3E%3Crect%20x%3D%220%22%20y%3D%220%22%20width%3D%221%22%20height%3D%221%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E') left top / 2px 2px;
    }

    .v-dot-line-last {
        height: 13px;
    }

    .h-dot-line {
        width: 10px;
        height: 2px;
        float: left;
        display: block;
        margin-top: 12px;
        margin-left: -2px;
        margin-right: 2px;
        background: url('data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%220%200%202%202%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%3E%3Crect%20x%3D%220%22%20y%3D%220%22%20width%3D%221%22%20height%3D%221%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E') left top / 2px 2px;
    }

    .open, .close {
        width: 12px;
        height: 12px;
        float: left;
        margin-top: 6px;
        margin-right: 6px;
    }

    .open {
        background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%220%200%2012%2012%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Ctitle%2F%3E%3Cg%3E%3Crect%20x%3D%220%22%20y%3D%220%22%20width%3D%2212%22%20height%3D%2212%22%20fill%3D%22white%22%20stroke%3D%22gray%22%20stroke-width%3D%221%22%2F%3E%3Cline%20x1%3D%223%22%20y1%3D%226%22%20x2%3D%229%22%20y2%3D%226%22%20stroke%3D%22black%22%20stroke-width%3D%222%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
    }

    .close {
        background: url('data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%220%200%2012%2012%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%3E%3Crect%20x%3D%220%22%20y%3D%220%22%20width%3D%2212%22%20height%3D%2212%22%20fill%3D%22white%22%20stroke%3D%22gray%22%20stroke-width%3D%221%22%2F%3E%3Cline%20x1%3D%223%22%20y1%3D%226%22%20x2%3D%229%22%20y2%3D%226%22%20stroke%3D%22black%22%20stroke-width%3D%222%22%2F%3E%3Cline%20x1%3D%226%22%20y1%3D%223%22%20x2%3D%226%22%20y2%3D%229%22%20stroke%3D%22black%22%20stroke-width%3D%222%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E') center center / 12px 12px no-repeat;
    }

    &_column {
        flex-grow: 0;
        align-self: center;
        flex-basis: 112px;
        text-align: center;
        font-weight: bold;
    }
}
