.tooltip:global(.ant-tooltip) {
    font-size: 12px;
}

.tooltip :global(.ant-tooltip-inner) {
    background-color: rgba(0, 0, 0, 0.85);
}

.tooltipIntentGhost {
    opacity: 1;
}

.tooltipIntentGhost :global(.ant-tooltip-arrow) {
    display: none
}

.tooltipIntentGhost :global(.ant-tooltip-inner) {
    max-width: 400px;
    color: #000 !important;
    background-color: #f5f5f5 !important;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.1) !important;
    opacity: 1 !important;
    padding: 7px 10px;
    border-width: 1px;
    border-style: solid;
    border-color: #c1c1c1;
}
