.tile {
    font-size: 10px;
    padding: 12px 10px;
    border-left: 5px solid transparent;
    background: #dcdcdc;
    position: relative;
    &:hover {
        background: white;
        border-left: 5px solid #E24C29;
        .bulkCheck {
            display: inline-block;
        }
        .favoriteIcon {
            display: inline-block;
        }
    }
    .attributeHeader:hover {
        color: #747474 !important;
    }
    .relationHeader:hover {
        color: #747474 !important;
    }
    div > span > div:last-child {
        margin-bottom: 0;
    }
}

.selected {
    background: white;
    border-left: 5px solid #E24C29;

    .bulkCheck {
        display: inline-block;
    }

    .favoriteIcon {
        display: inline-block;
    }

}

.favorite {
    border-left: 5px solid #ff9900;
}

.tileControl {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.attributeHeader {
    text-transform: uppercase;
    color: #747474;
    font-weight: 600;
}

.attributeValue {
    color: #000;
    font-size: 13px;
    font-family: 'PT Sans', serif;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 12px;
}

.attribute {
    margin-bottom: 8px;
}

.attributeMain .attributeValue {
    font-weight: 600;
}

.bulkCheck {
    display: none;
}

.bulkCheckSelected {
    display: inline-block;
}

.favoriteIcon {
    display: none;
    margin-right: 10px;
}

.attributeArrayContainer {
    overflow: hidden;
}

.attributeArray {
    border: 1px solid rgba(0,0,0,0.2);
    color: #000;
    font-size: 13px;
    font-family: 'PT Sans', serif;
    text-overflow: ellipsis;
    padding:0 0.5em;
    margin-right: 0.38em;
    border-radius: 3px;
    display: inline-block;
    float: left;
}

.attributeMore {
    padding: 0.3em 0.5em 0;
    margin-right: 0.38em;
}

.timeInterval {
    padding-top: 8px;
}

.relationHeader {
    text-transform: uppercase;
    margin-top: 7px;
    color: #747474;
    font-weight: 600;
    span {
        padding-right: 3px;
    }
    &:hover {
        color: #747474;
    }
}

.tileFooterContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.1);
    border-top: 2px solid rgba(0,0,0,0.1);
    background: #f5f5f5;

    height: 50px;
    align-items: center;
    padding: 4px;
    .buttonsContainer button {
        width: 20px;
    }
    .buttonsContainer {
        .pagesContainer {
            input {
                width: 80px;
            }
        }
    }
    .ud-button.ud-button-noborder.ant-btn-ghost {
        background: green;
        width: 10px;
    }
}
