$width: 390px;
$animation-time: 0.15s;

.notificationArea {
  position: absolute;
  // z-index set to be on top of the content
  // TODO: remove after solving problems with z-index for antd components
  z-index: 2;
  top: 0;
  right: 0;
  width: $width;
  margin-right: -$width - 7px;
  height: 100%;
  background-color: #3b3b3b;
  transition: margin-right $animation-time ease-in 0.1s, visibility 0.1s linear $animation-time;
  visibility: hidden;
  color: #cccccc;
  display: flex;
  flex-direction: column;

  &:after {
    display: block;
    content: ' ';
    position: absolute;
    top: 0;
    right: 100%;
    width: 10px;
    height: 100%;
    pointer-events: none;
    box-shadow: inset -7px 0px 4px -7px rgba(0, 0, 0, 0.8);
  }
}

.notificationAreaItems {
  overflow: auto;
  flex: 1;
}

.notificationAreaFooter {
  padding: 10px;
  text-align: center;
}

.notificationAreaVisible {
  transition: visibility 0s linear 0s, margin-right $animation-time ease-out 0.01s;
  visibility: visible;
  margin-right: 0;
}

