.relationTermItem {
  position: relative;
}

.relationTermItem.before:before {
  content: '';
  width: 5px;
  height: 5px;
  border-radius: 3.5px;
  background: grey;
  position: absolute;
  left: 2px;
  top: 16px;
}
.relationTermItem.after:after {
  content: '';
  width: 10px;
  height: 1px;
  background: silver;
  position: absolute;
  top: 18px;
  right: -5px;
}

.attributesLabel {
  color: silver;
  font-style: italic;
  font-size: 12px;
  margin-top: 4px;
}
//.relationTermItem:first-child(:before) {
//  display: none;
//}

.modalTableContainer {
  height: 70vh;
  :global(.ant-card) {
    position: static;
    height: calc(100% - 42px);
  }
  :global(.ant-card-head) {
    height: 32px;
  }
  :global(.ant-card-body) {
    height: calc(100% - 32px);
  }
}

.modalFooter {
  display: flex;
  justify-content: flex-end;
}
