:global(.ant-input) {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 13px  !important;
}

:global(.ant-input:focus) {
    box-shadow: none;
}

.container {
    position: relative;
    display: inline-block;
    width: 100%;
}

.errContainer {
    position: absolute;
    font-size: 12px;
    color: #c63c17;
}

.error:global(.ant-input-affix-wrapper) {
    background: transparent;
    border: transparent;
}

.error input {
    border: 1px solid #c63c17;
    background-color: #fbf5f2;
    box-shadow: none;
}
