.button {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;

  &:hover {
    .tooltip {
      transition: visibility 0s linear 0.5s, opacity 0.1s linear 0.5s;
      visibility: visible;
      opacity: 1;
    }
  }
}

.buttonDisabled {
  opacity: 0.5;
  cursor: default;
}

.text {
}

.icon {
}

.decal {
}

.tooltip {
  visibility: hidden;
  opacity: 0;
}
