.paginationContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  box-shadow: 0 0 15px 0 rgba(0,0,0,0.1);
  border-top: 2px solid rgba(0,0,0,0.1);
  background: #f5f5f5;

  height: 50px;
  align-items: center;
  padding: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.buttonsContainer {
  display: flex;
  align-items: center;
  .pagesContainer {
    display: inline-block;
    white-space: nowrap;
    padding: 0 4px;
    input {
      border: 1px solid rgba(0,0,0,0.1);
      background: #fff;
      padding: 5px 7px;
      font-size: inherit;
      border-radius: 3px;
      font-weight: normal;
      outline-width: 0;
      width: 70px;
      text-align: center;
    }
  }
}

.tileFooterContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  box-shadow: 0 0 15px 0 rgba(0,0,0,0.1);
  border-top: 2px solid rgba(0,0,0,0.1);
  background: #f5f5f5;

  height: 50px;
  align-items: center;
  padding: 4px;
  .buttonsContainer button {
    width: 20px;
  }
  .buttonsContainer {
    .pagesContainer {
      input {
        width: 80px;
      }
    }
  }
  .ud-button.ud-button-noborder.ant-btn-ghost {
    background: green;
    width: 10px;
  }
}
