.menuContainer {
  border-radius: 5px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
  border: 1px solid silver;
  background-color: #fff;
  overflow: hidden;
  position: relative;

  .leftGradient, .rightGradient {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 20px;
    background-color: #fff;
  }
  .leftGradient {
    left: 0;
    background: linear-gradient(to right, #fff 20%, transparent);
  }
  .rightGradient {
    right: 0;
    background: linear-gradient(to left, #fff 20%, transparent);
  }

  .itemsContainer {
    display: flex;

    .groupContainer {
      display: flex;
      position: relative;
    }

    .groupTitle {
      position: absolute;
      left: 18px;
      top: 14px;
      font-size: 10px;
      text-transform: uppercase;
      color: #333333;
      font-family: 'PT Sans', sans-serif;
      font-weight: bold;
    }

    .groupSep {
      flex-shrink: 1;
      width: 1px;
      height: 100px;
      margin-top: 20px;
      background-color: silver;
    }

    .itemContainer {
      flex: 1;
      width: 88px;
      margin: 40px 0px 20px 0px;
    }

    .buttonMenu {
      margin: 36px 14px 12px 14px;
      display: flex;
      align-items: center;
      border: 1px solid #ebebeb;
      border-radius: 28px;
      padding: 2px;
      min-width: 180px;
      max-width: 240px;

      span {
        margin: 0 20px;
        color: #7c7c7c;
        line-height: 1.2;
      }
    }

    .buttonMenu:hover {
      background: #ebebeb;
    }
  }
}
