@import '../_deprecated/compas/carousel.m';

$color: rgb(237, 84, 100);
$transparent-color: rgba(237, 84, 100, 0.3);

.unWiki {
    position: fixed;
    top: 400px;
    right: 0;
    left: auto;
    margin-left: auto;
    width: 58px;
    height: 60px;

    .unWikiButton {
        transition: transform 300ms ease;
        @include transform(translateX(54px));
    }

    .unSlideButtonHelptext {
        background-color: $color;
        position: absolute;
        writing-mode: tb-rl;
        height: 100%;
        text-align: center;
        line-height: 20px;
        font-size: 12px;
        color: white;
        cursor: default;
        @include transform(rotate(180deg));
        @include user-select(none);
    }


    .unMouseOver {
        @include transform(translateX(40px));
    }

    .unMouseOver.unMouseOverExpand {
        @include transform(translateX(0px));
    }

    .unWikiIcon {

        width: 40px;
        height: 60px;
        margin-left: 20px;

        background-color: $color;
        background-repeat: no-repeat;
        background-position-y: center;
        background-position-x: left;
        cursor: pointer;

        &Disabled {
            background-color: $transparent-color;
            cursor: default;
        }
    }

    .unShadowContainer {
        box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
    }

}