.pageHeader:global(.ant-layout-header) {
    height: 54px;
    background: white;
    padding: 0;
    border-bottom: 2px solid #ccc;
    line-height: inherit;
}

.pageHeader.withHorizontalMenu {
    border-bottom: 0;
    height: 92px;
}

.rowTitle {
    display: flex;
    padding: 0 12px;
    justify-content: space-between;
    align-items: center;
}

.buttonsContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.titleBlock {
    display: flex;
    align-items: center;
    line-height: normal;
}

.iconContainer {
    margin: 10px 10px 10px 0;
    background-color: #E3E3E3;
    border-radius: 16px;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.groupTitle {
    font-family: 'Open Sans', serif;
    font-size: 12px;
    /*text-transform: uppercase;*/
    color: #999;
    margin-bottom: -2px;
}

.titleContainer {
    font-family: 'Open Sans Semibold', serif;
    font-size: 16px;
}

.primaryTitle {
    text-transform: uppercase;
}
.secondaryTitle {
    font-family: 'Open Sans', serif;
}

.horizontalContainer {
    border-bottom: 2px solid #ccc;
}
