.container {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  overflow-y: hidden;
  //min-height: 500px;
}

.dataViewerContent {
  position: relative;
  overflow: auto;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.dataViewerLayout {
  padding: 8px;
  position: relative;
  //min-height: 500px;
  display: flex;
  flex-direction: column;
}

.dataViewerLayoutRow {
  height: 100%;
}

.dataViewerLayoutCol {
  height: 100%;
}

.dataCardContent {
  padding: 16px;
}

.nestedRecordContainer {
  border: 1px solid #cacaca;
  border-radius: 4px;
  position: relative;
  padding: 8px;

  &:hover {
    .nestedRecordButtonGroup {
      visibility: visible;
    }
  }
}

.nestedRecordButtonGroup {
  position: absolute;
  right: 12px;
  visibility: hidden;
}
