$cmpClass: 'ud-classifier-list';

.#{$cmpClass} {
  width: 100%;

  tr {
    user-select: none;
  }

  tr:nth-child(odd) {
    background-color: #F8F8F8;
  }

  tr:hover {
    background-color: $ud-item-over;
  }

  tr.active {
    background-color: $ud-item-selected
  }

  tr.disabled {
    color: lightgray;
  }
}