$animation-time-1: 0.1s;
$animation-time-2: 0.5s;

.notification {
  overflow: hidden;
  box-sizing: content-box;
  transition: padding $animation-time-1 $animation-time-1;
  position: relative;
  border-bottom: solid 1px #4d4d4d;
  padding: 15px;

  &:last-child {
    border: none;
  }
}

.notificationInnerWrap {
  position: relative;
  right: 0;
  margin-bottom: 0;
  transition: right $animation-time-1, margin-bottom $animation-time-2 $animation-time-1;
  line-height: 16px;

  p,
  > * {
    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    color: #44aaee !important;
    text-decoration: underline;
  }
}

.notificationCreateDate {
  color: #999999;
  font-size: 11px;
  font-family: 'Open Sans Semibold', sans-serif;
}

.notificationContent {
}

.notificationRemove {
  position: absolute;
  top: -5px;
  right: -7px;
  cursor: pointer;
  margin: 0;
  padding: 5px;
  line-height: 13px;

  svg {
    fill: white;
  }
}

.notificationIsRemoved {
  padding: 0;
  border: none;

  .notificationInnerWrap {
    right: -110%;
    margin-bottom: -800px;
  }
}

.notificationDetails {
  line-height: 16px;
}
