.value {
  border-bottom: 1px dashed grey;
}
.value:hover {
  cursor: pointer;
}

.value.isDisabled {
  border: none;
}
.value:hover.isDisabled {
  cursor: default;
}

.sizeItem {
  text-align: right;
  line-height: 1.8;
}
.sizeItem:hover {
  cursor: pointer;
}
