$cmpClass: 'ud-addbutton';

.#{$cmpClass} {
  text-align: center;
  color: #007bb7;
  user-select: none;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;

  &.disabled {
    color: lightgray;
  }
}
