$cmpClass: 'ud-role-cls-list-editor';

.#{$cmpClass} {
    .ud-addbutton {
        margin-top: 10px;
        margin-bottom: 25px;
        cursor: pointer;
        user-select: none;
    }
}

.ud-classifier-node-modal {
    width: 870px !important;

    .ant-modal-body {
        padding-top: 4px;
    }
}

.modal-footer {
    display: flex;
    justify-content: flex-end;

    > * {
        margin-left: 10px;
    }
}