$cmpClass: 'ud-role-clsfnode-header';

.#{$cmpClass} {
  display: flex;
  border-bottom: 2px solid grey;
  text-transform: uppercase;
  font-size: 12px;
  font-family: 'PT Sans', serif;
  margin-bottom: 2px;

  .ud-column {
    //flex-basis: 15%;
    width: 100px;
    flex-grow: 0;
    font-weight: bold;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .ud-clsf-rights-check-all {
    padding-left: 8px;
    padding-right: 2px;
  }

  .ud-column-main {
    flex-grow: 1;
    text-align: left;
  }

  .ud-column-remove {
    cursor: pointer;
    max-width: 30px;
    text-align: right;
    padding-right: 8px;
  }
}
