.ud-search-collapse {
    min-width: 500px; 
    height: calc(100% - 150px); 
    overflow: 'hidden';
}

.ud-search-footer {
    min-width: 500px; 
    background: white; 
    border: 1px solid rgb(217, 217, 217);
}

.ud-tile-search-result-checkbox {
    float: right;
}

.ud-search-panel {
  .ant-collapse-content-box {
    padding: 0;
   }
}

.ud-row-selected {
    background: rgb(237, 237, 237);
    border-left: 4px solid red;
    &:hover {
        background: rgb(237, 237, 237);
    }
}
