.popover {
}

.popoverHasPaddings .block {
  padding: 6px 8px;
}

.block {
  position: relative;
  border-radius: 4px;
  box-shadow: none;
  font-size: 12px;
}

:not(.darkTheme) .block {
  background-color: #fff;
  border: 1px solid #c1c1c1;
}
.darkTheme .block {
  background-color: rgba(0, 0, 0, 0.85);
  color: #fff;
  border: 1px solid #000;
}

.hasShadow {
  box-shadow: 0 1px 1px 0 rgba(60,64,67,.08),0 1px 3px 1px rgba(60,64,67,.16);
}

.arrowContainer {
  position: absolute;
  overflow: hidden;
}

.popoverPlacementTop .block,
.popoverPlacementTopStart .block,
.popoverPlacementTopEnd .block {
  margin-bottom: 5px;
}

.popoverPlacementTop .arrowContainer,
.popoverPlacementTopStart .arrowContainer,
.popoverPlacementTopEnd .arrowContainer {
  bottom: 0;
  padding: 3px 7px 0 7px;
  height: 5px;
  transform: rotate(180deg);
}

.popoverPlacementRight .block,
.popoverPlacementRightStart .block,
.popoverPlacementRightEnd .block {
  margin-left: 5px;
}

.popoverPlacementRight .arrowContainer,
.popoverPlacementRightStart .arrowContainer,
.popoverPlacementRightEnd .arrowContainer {
  left: 0;
  padding: 7px 0 7px 3px;
  width: 5px;
}

.popoverPlacementLeft .block,
.popoverPlacementLeftStart .block,
.popoverPlacementLeftEnd .block {
  margin-right: 5px;
}

.popoverPlacementLeft .arrowContainer,
.popoverPlacementLeftStart .arrowContainer,
.popoverPlacementLeftEnd .arrowContainer {
  right: 0;
  padding: 7px 0 7px 3px;
  width: 5px;
  transform: rotate(180deg);
}

.popoverPlacementBottom .block,
.popoverPlacementBottomStart .block,
.popoverPlacementBottomEnd .block {
  margin-top: 5px;
}

.popoverPlacementBottom .arrowContainer,
.popoverPlacementBottomStart .arrowContainer,
.popoverPlacementBottomEnd .arrowContainer {
  top: 0;
  padding: 3px 7px 0 7px;
  height: 5px;
}

.arrow {
  width: 5px;
  height: 5px;
  position: absolute;
}

.arrow:before {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  top: 0;
  border-width: 5px 5px 0 0;
}

:not(.darkTheme) .arrow {
  background-color: #fff;
  border-top: 1px solid #bdbdbd;
  border-left: 1px solid #bdbdbd;
  &:before {
    border-color: #bdbdbd transparent transparent transparent;
  }
}
.darkTheme .arrow {
  background-color: transparent;
  border-top: 0;
  border-left: 0;
  &:before {
    border-color: rgba(0, 0, 0, 0.85) transparent transparent transparent;
  }
}

.popoverPlacementTop .arrow,
.popoverPlacementTopStart .arrow,
.popoverPlacementTopEnd .arrow {
  transform: rotate(45deg);
}

.popoverPlacementRight .arrow,
.popoverPlacementRightStart .arrow,
.popoverPlacementRightEnd .arrow {
  transform: rotate(315deg);
}

.popoverPlacementLeft .arrow,
.popoverPlacementLeftStart .arrow,
.popoverPlacementLeftEnd .arrow {
  transform: rotate(315deg);
}

.popoverPlacementBottom .arrow,
.popoverPlacementBottomStart .arrow,
.popoverPlacementBottomEnd .arrow {
  transform: rotate(45deg);
}
