.scrollWrapper {
  height: calc(100vh - (var(--indentM) * 2));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.scrollContainer {
  border: 1px solid #ccc;
  overflow: scroll;
  width: 400px;
  height: 400px;
  margin-bottom: 16px;
}

.scrollElement {
  width: 1200px;
  height: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.target {
  width: 200px;
  height: 20px;
  background: red;
}

.content {
  width: 300px;
  height: 50px;
  background: green;
}
