.select {
    width: 100%;
    overflow: hidden;
    display: block;
}

:global(.ant-select) {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 13px !important;
}

:global(.ant-select) :global(.ant-select-selection-selected-value) {
    user-select: text;
}
