$baseCls: 'ud-matching-mapping-list-item';

.#{$baseCls} {
  position: relative;

  .ud-field {
    margin: 0;
  }

  .ud-field {
    margin: 0;

    .ant-select-selection, .ant-input {
      border-radius: 0;
      -moz-border-radius: 0;
      -webkit-border-radius: 0;
    }
  }

  .ud-field:first-child {
    .ant-select-selection, .ant-input {
      border-radius: 4px 4px 0 0;
      -moz-border-radius: 4px 4px 0 0;
      -webkit-border-radius: 4px 4px 0 0;
    }
  }

  .ud-field:last-child {
    .ant-select-selection, .ant-input {
      border-radius: 0 0 4px 4px;
      -moz-border-radius: 0 0 4px 4px;
      -webkit-border-radius: 0 0 4px 4px;
    }
  }

  .#{$baseCls}-delete-button {
    position: absolute;
    right: 12px;
    top: 8px;
  }

  .#{$baseCls}-field-select {
    margin-top: -1px;

    .ant-select-selection--single .ant-select-selection__rendered {
      margin: 0 4px;
    }

    .ant-input {
      margin-top: -1px;

    }
  }
}

.ud-tree-row-highlighted {
  color: #006391;
  font-style: italic;
}
