.container {
  max-width: 360px;
  padding: 2px;
}
.title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  font-family: 'Open Sans', serif;
}
.item {
  padding: 4px;
}
.item:hover {
  background: #E6F0FA;
}
.itemWithSubTree {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.icon {
  svg {
    transition-duration: 0.2s;

    &:hover {
      transform: rotate(30deg);
    }
  }
}
