@mixin ud-logo (
  $size: 35px,        // the size of the logo (the height of the icons)
  $padding: auto, // edge padding
  $text-margin: auto // text offset from the logo
) {
  // for $size: 35px, the value of $autoValue: 10px
  $autoValue: round($size * 0.2857);

  @if $padding == auto {
    $padding: $autoValue;
  }

  @if $text-margin == auto {
    $text-margin: $autoValue;
  }

  .ud-logo {
    box-sizing: border-box;
    height: $size + $padding * 2;
    padding: $padding;
    float: left;

    * {
      height: 100%;
      float: left;
    }

    .ud-logo-sign {
    }

    .ud-logo-text {
      margin-left: $text-margin;
    }
  }
}
