// base colors
$white: #fff;
$grey: grey;
$silver: #c9c9c9;

$default: #666;
$default-hover: rgba(41, 41, 41, 0.1);


$primary: rgba(0, 100, 148, 1); // bg
$primary-hover: rgba(0, 123, 183, 1);

$primary-text: rgba(0, 100, 148, 1); // text
$primary-text-hover: rgba(0, 123, 183, 1);


$info: #f1ba3a;
$info-hover: #f4c964;
$info-text: #9b6c08;

$secondary: #848484;
$ghost: #e4e4e4;

// for future, use only in icons now
$success: green;
$danger: red;
$warning: #f18f4d;
