.ud-page-security-labels .attribute-row {
    border-bottom: 1px dotted silver;
    display: flex;
    align-items: center;

    &:last-child {
        border-bottom-color: transparent;
    }

    .name-column, .attribute-column {
        //width: 48% !important;
        //float: left;
        //padding-right: 0 !important;
        //margin-right: auto !important;
    }

    .action-column {
        //padding: 12px 0 0 0 !important;
        //width: auto;
        //float: right;
    }

    .action-column-delete {
        text-align: right;

        button {
            padding-right: 0;
        }
    }
}
