.tabBar {
    font-family: 'Open Sans', sans-serif;
    line-height: 36px;
    padding-left: 15px;
}

.tabBar :global(.ant-menu-item) {
    padding: 0 2px;
    margin-right: 10px;
}

.tabBar :global(.ant-menu-item):hover:not(:global(.ant-menu-item-selected)) {
    border-bottom-color: transparent;
}
