$cmpClass: 'ud-role-clsftab';

.#{$cmpClass} {
  &.ud-horizontal {
    >:first-child {
      border-right: 1px dotted lightgray;
    }

    >:last-child {
      margin-left: -1px;
      border-left: 1px dotted lightgray;
    }
  }

  &.ud-vertical {
    >:first-child {
      border-bottom: 1px dotted lightgray;
    }

    >:last-child {
      margin-top: 12px;
    }
  }
}
