/*
  Redefining some ant Design reset styles so that they don't break the old app's styles
If the redefinition affects the react application, you need to add your own corrective styles for a specific case in the react
*/

html, body {
  line-height: normal;
}

table {
  border-collapse: separate !important;
}

legend {
  width: auto !important;
}

b, strong {
  font-weight: 600 !important;
}
