$headerBgColor: #E6E6E6;
$borderColor: #d7d7d7;

.ant-modal {
  .ant-modal-header {
    padding: 0px;
    background-color: $headerBgColor;
    text-transform: none;
    font-weight: bold;
    margin-bottom: 0px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: $borderColor;
    text-transform: uppercase;
    font-family: 'PT Sans', serif;
    font-size: 13px;
    padding: 9px 12px 8px 12px;

    .ant-modal-title {
      font-family: 'PT Sans', serif;
      font-weight: bold;
      font-size: 13px;
      line-height: 13px;
    }
  }

  .ant-modal-close-x {
    height: 32px;
    width: 32px;
    margin-top: -12px;
  }

  .ant-modal-body {
    padding: 12px 24px;
    font-size: 13px;
  }


  .ant-modal-footer {
    .ant-btn {
      border-radius: 32px;
      text-transform: uppercase;
      font-size: 11px;

      &.ant-btn-primary {
        background-color: #006494;
      }
    }
  }
}