//.ud-matching-modal {
//  &_selector {
//    display: flex;
//    align-items: center;
//    justify-content: space-between;
//
//    :first-child {
//      flex-grow: 2;
//    }
//  }
//
//  &_icon-matching {
//    color: #0066cc;
//  }
//
//  &_tree {
//    &_item-selected {
//      font-style: italic;
//      color: #0066cc;
//    }
//  }
//}
