$baseCls: 'ud-display-path';
$entityAttributeType: 'entity_attribute';
$classifierType: 'classifier';
$classifierAttributeType: 'classifier_attribute';

.#{$baseCls}-item {
  padding: 2px 5px;
  border: 1px solid #aaa;
  background-color: #eee;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  white-space: nowrap;
}

.#{$baseCls}-delimiter {
  margin: 0 3px;
}

.#{$baseCls}-item-#{$classifierType} {
  background-color: #F8DFB1D0;
}

.#{$baseCls}-item-#{$classifierAttributeType} {
  background-color: #D4E8AFD0;
}

.#{$baseCls}-item-#{$entityAttributeType} {
  background-color: #95D6D390;
}

.#{$baseCls}-item-highlighted {
  color: #006391;
  font-style: italic;
}