.ud-wizard {
    .ant-modal-close {
        top: 20;
    }

    .ant-steps {
        margin-bottom: 25px;
    }

    .ant-steps-item-title {
        font-size: 12px !important;
    }

    .ant-steps-item-finish .ant-steps-item-title {
        color: silver !important;
    }

    .ant-steps-item-content {
        width: 114px !important;
    }

    .ant-steps-label-vertical {
        .ant-steps-item-icon {
            margin-left: 46px;
        }

        .ant-steps-item-tail {
            //padding: 3.5px 0 3.5px 20px;
        }
    }

    .ant-steps-item-icon .ant-steps-icon {
        line-height: 2;
    }

    &_steps {
        text-align: center;
        max-height: 80px;
        margin-top: 10px;
    }

    &_footer {
        &_left-column {
            text-align: left;
        }

        &_right-column {
            text-align: right;
        }
    }

    .ant-alert-info {
        background: none;
        border: none;
        padding: 0 !important;
        margin-bottom: 8px;
    }

    .ant-alert-warning {
        padding: 0 0 0 44px !important;
        background: orange;

        .ant-alert-icon {
            top: 12px;
            left: 10px;
            color: white;
        }

        .ant-alert-description {
            text-align: left;
            background: #fff3e0;
            padding: 8px;
            font-size: 13px;
            line-height: 17px;
        }
    }

    .ant-alert-message {
        margin: 0 !important;
    }
}

