.buttonContainer {
    margin: 6px 0 3px 8px;
    display: flex;
    align-items: center;
    position: relative;
}

.buttonContainer button:last-of-type {
    margin-left: 12px;
}

.sep {
    width: 1px;
    height: 26px;
    background: silver;
    margin: 0 0 0 12px;
}

.countBadge {
    position: absolute;
    color: #fff;
    background: #f90;
    width: 14px;
    height: 14px;
    top: 2px;
    line-height: 9px;
    right: 15px;
    border-radius: 7px;
    font-size: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.tagsRow {
    background-color: #f2f2f2;
    width: 100%;
    height: 44px;
    border-bottom: 1px solid #dadada;
    position: relative;
}
.tagsRow.isPin {
    position: static;
    height: auto;
}

.tagsContainer {
    position: absolute;
    background: #f2f2f2;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    max-height: 45px;
    min-height: 44px;
    padding: 2px 0;
    overflow: hidden;
    transition: max-height .5s;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3);
}
.tagsRow.isPin .tagsContainer {
    position: static;
    box-shadow: none;
}

.tagsRow.isPin .tagsContainer:not(.tagListIsOpen) {
    max-height: 44px;
}

.pinContainer {
    margin: 0 8px 0 4px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.tagsList {
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    flex: auto;
}

.tagsListOverflow {
    max-height: 156px;
    overflow-y: auto;
}

.tagListIsOpen {
    max-height: calc(100vh - 300px);
    transition: max-height .5s;
}

.open {
    width: 20px;
    height: 3px;
    // background: #0d47a1;
    position: absolute;
    left: calc(50% - 20px);
    bottom: 3px;

    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
}
.open:hover {
    cursor: pointer;
}

//.tagListIsOpen .open {
//    bottom: 2px;
//}

.searchSaveContainer {
    margin: 5px 0 5px 8px;
    display: flex;
    justify-content: space-between;
    width: 120px;
}
