.container {
  display: flex;
  overflow: hidden;
}
.arrContainer {
  display: flex;
  overflow: hidden;
}
.arrItem {
  border: 1px solid #cecece;
  border-radius: 4px;
  margin: 0 2px;
  padding: 0 4px;
  background: #F3F6F9;
  font-size: 12px;
}
.more {
  flex: 1;
  width: 38px;
  padding-left: 2px;
  color: grey;
}
