/* open-sans-regular - cyrillic_latin_cyrillic-ext_latin-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
    url('../../../react-resources/fonts/open-sans/opensans-regular-v16.woff2?v1') format('woff2'), /* Super Modern Browsers */
    url('../../../react-resources/fonts/open-sans/opensans-regular-v16.woff?v1') format('woff'), /* Modern Browsers */
    url('../../../react-resources/fonts/open-sans/opensans-regular-v16.ttf?v1') format('truetype'); /* Safari, Android, iOS */
}

/* open-sans-600 - cyrillic_latin_cyrillic-ext_latin-ext */
@font-face {
    font-family: 'Open Sans Semibold';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
    url('../../../react-resources/fonts/open-sans/opensans-semibold-v16.woff2?v1') format('woff2'), /* Super Modern Browsers */
    url('../../../react-resources/fonts/open-sans/opensans-semibold-v16.woff?v1') format('woff'), /* Modern Browsers */
    url('../../../react-resources/fonts/open-sans/opensans-semibold-v16.ttf?v1') format('truetype'); /* Safari, Android, iOS */
}

/* open-sans-700 - cyrillic_latin_cyrillic-ext_latin-ext */
@font-face {
    font-family: 'Open Sans Bold';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'),
    url('../../../react-resources/fonts/open-sans/opensans-bold-v16.woff2?v1') format('woff2'), /* Super Modern Browsers */
    url('../../../react-resources/fonts/open-sans/opensans-bold-v16.woff?v1') format('woff'), /* Modern Browsers */
    url('../../../react-resources/fonts/open-sans/opensans-bold-v16.ttf?v1') format('truetype'); /* Safari, Android, iOS */
}
