/*variables for any common colors*/

/*main background color for pages*/
$page-background-color: #F2F2F2;

$ud-item-selected: #c8e2fb;
$ud-item-disabled: #e6f0fa;
$ud-item-over: #e6f0fa;;

/* section colors */
$default-section-color: gray;
$section-colors: (
  'home': #4acfae,
  'matching': $default-section-color,
  'security': $default-section-color,
  'classifierviewer': $default-section-color,
  'roles': $default-section-color,
  'users': $default-section-color,
  'operations': $default-section-color,
  'auditlog': $default-section-color,
  'process': $default-section-color,
  'beproperties': $default-section-color,
  'experiment': $default-section-color,
  'search': #44aaee,
  'pipeline': $default-section-color,
);
