$componentClassNew: 'new-process-card-list';
$componentClassSaved: 'process-card-list';

.#{$componentClassNew}, .#{$componentClassSaved} {
  .ud-card-panel {
    border-radius: 0;
  }

  .ud-card-panel:not(:last-child) {
    border-bottom-color: transparent;
  }

  .ud-card-panel:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  .ud-card-panel:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}

.#{$componentClassNew} {
  .ud-card-panel:last-child {
  }
}

.add-workflow-process-panel {
  .ud-field_label {
    padding-top: 7px;
  }

  .button-column button{
    border-left: none;
    height: 32px; // todo BrauerIlya - hack for changing the height of buttons in a specific location
  }

  div:first-child button {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    &:hover {
      cursor: initial;
    }
  }

  div:last-child button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
