$headerHeight: 54px;
.ud-page-layout {
  height: 100vh;
}
.ud-page-content {
  padding: 16px 16px 4px;
  height: calc(100% - #{$headerHeight}) !important;
  overflow-y: scroll;
}

//.ant-layout {
//  height: 100%;
//  overflow-y: hidden;
//}

.ant-layout-sider-children {
  position: fixed;
  height: inherit;
  width: inherit;
}
//.ant-layout-content {
//  height: 100%;
//}

.ant-layout-sider {
  height: calc(100vh - 55px);
}
