/*its counterpart reset.css*/

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  overflow: hidden;
}


thead tr {
  text-transform: uppercase;
  font-size: 12px;
  font-family: 'PT Sans', serif;
  line-height: 12px;
  border-bottom: 2px solid gray;
}

.ud-admin {
    a {
        color: #006494 !important;
    }
}
