@import "themes";
/**
* Mixin that allows you to build styles for a theme,
it works as follows:
In the block where themify () is used, styles are added
  .theme-{theme1}
*/
@mixin themify($themes: $themes) {
  @each $theme, $map in $themes {

    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }

      @content;
      $theme-map: null !global;
    }

  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}

@import "mixins/Logo";
