$themes: (
        light: (
                tree-table-background: transparent,
                tree-table-row-hover-background: #F8F8F8,
                tree-table-row-even-backround: #F8F8F8,
                tree-table-row-selected-backround: #c8e2fb,
                tree-table-horizontal-dot-line: url('data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%220%200%202%202%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%3E%3Crect%20x%3D%220%22%20y%3D%220%22%20width%3D%221%22%20height%3D%221%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E') left top / 2px 2px,
                tree-table-vertical-dot-line: url('data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%220%200%202%202%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%3E%3Crect%20x%3D%220%22%20y%3D%220%22%20width%3D%221%22%20height%3D%221%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E') left top / 2px 2px
        ),
        dark: (
                tree-table-content-color: white,
                tree-table-background: #515151,
                tree-table-row-hover-background: #878d92,
                tree-table-row-even-backround: #515151,
                tree-table-row-selected-backround: #878d92,
                tree-table-horizontal-dot-line: url('data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%220%200%202%202%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%3E%3Crect%20x%3D%220%22%20stroke%3D%22grey%22%20y%3D%220%22%20width%3D%221%22%20height%3D%221%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E') left top / 2px 2px,
                tree-table-vertical-dot-line: url('data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%220%200%202%202%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%3E%3Crect%20x%3D%220%22%20y%3D%220%22%20stroke%3D%22grey%22%20width%3D%221%22%20height%3D%221%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E') left top / 2px 2px
        )
);


