.ud-classified-page {

  // classifier node selection panel
  .ud-classifier-selection-panel {
    .ant-card-head-title {
      padding: 0 !important;

      .ud-field {
        margin: 0;
      }

      .ant-col {
        padding: 0 !important;
      }

      .ant-select-selection {
        background-color: transparent;
        border: none;
        outline: none !important;
        height: 31px;

        box-shadow: none;

        .ant-select-selection-selected-value {
          color: black;
          text-transform: none;
          font-weight: bold;
        }
      }

      .ant-select-selection__placeholder {
        color: black;
        text-transform: none;
      }
    }

    .ant-card-body {
      padding: 8px;

      .ud-field {
        margin-top: 0;
        margin-bottom: 5px;
      }
    }
  }

  // the panel classified records
  .ud-classified-entities {
    .ant-card-body {
      padding: 8px;
    }

    // sub-panel
    .ud-classified-entity {
      &:last-child {
        border: none;
      }

      .ud-classified-entity-title {
        b {
          text-transform: uppercase;
        }
      }

      .ant-collapse-content-box {
        padding: 0;
      }

      .ant-table-placeholder {
        border: none;
      }

      .ant-table-column-title {
        font-weight: bold;
      }
    }
  }
}
