.overlay {
    position: static;
}

.overlayHasBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-x: auto;
    overflow-y: scroll;
    z-index: 1050; // todo Brauer Ilya remove the z-index after modifying the base components(input, select, etc)
}

.overlayIsLast {
}

.overlayIsLastBackdrop {
}

.backdrop {
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #101010;
    opacity: 0.4;
}
