.label {
  padding-bottom: 2px;
  font-size: 9px;
  text-transform: uppercase;
  font-weight: 600;
}
.input {
  margin-bottom: 16px;
}
.buttonFooter {
  display: flex;
  justify-content: space-between;
}
.tooltip {
  min-width: 266px;
  font-size: 11px;
  .ant-tooltip {
    padding-left: 10px;
  }
}