.field {
    font-family: 'Open Sans', serif;
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    display: flex;
    align-items: center;
    padding: 8px 0;
}

.field.multiLine {
    align-items: flex-start;
}
.field.multiLine .fieldLabel {
    padding-top: 6px;
}

.fieldError {
    color: #cf4c35;
    font-size: 11px;
    margin-top: 1px;
    cursor: default;
    padding-left: 5px;
}

.fieldLabelContainer, .fieldInputContainer {
    flex-shrink: 0;
}

.fieldLabel {
    font-style: normal;
    color: #666666;
    cursor: default;
    line-height: 1.2;
    overflow: hidden;
    text-overflow: ellipsis;
}

.fieldSubLabel {
    font-size: 12px;
    color: #b1afaf;
    cursor: default;
    overflow: hidden;
    text-overflow: ellipsis;
}

.itemsContainer {
    display: flex;
    justify-content: space-between;
}
